beable_google_migrated-3rYtfDNmaBkYsCSD.json
{"updatedAt":"2026-04-22T07:05:03.964Z","createdAt":"2026-03-22T14:27:25.978Z","id":"3rYtfDNmaBkYsCSD","name":"beable_google_migrated","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Tips\",\n  \"ideas\": [\"Add lemon juice to egg salad.\",\"Use Greek yogurt instead of mayo.\"],\n  \"topic\": \"Egg Salad\",\n  \"content_bucket\": \"Healthy Eating\",\n  \"target_audience\": \"College students\"\n}"},"id":"31abb48d-b7a6-45bf-b6e4-5f3d28d92d21","name":"Parsing 10 ideas","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2176,1216]},{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Tips\",\n  \"ideas\": [\"Add lemon juice to egg salad.\",\"Use Greek yogurt instead of mayo.\"],\n  \"topic\": \"Egg Salad\",\n  \"content_bucket\": \"Healthy Eating\",\n  \"target_audience\": \"College students\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1680,1216],"id":"644face7-93c7-4659-b7df-989bc1c1e6f8","name":"parsing best 3 ideas"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3984,992],"id":"edffd69f-f62f-417d-9815-24ccea404132","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA","mode":"list","cachedResultName":"Posting_flow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"content_bucket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-3760,992],"id":"6fb9ab4d-11ea-4891-8f4f-7a980d766307","name":"Getting Content Bucket","credentials":{"googleSheetsOAuth2Api":{"id":"wQjf10BI6wLCJrtJ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"name":"categories","value":"[\"Direct Information / Answer\",\"Mindsets\",\"Truths or Facts\",\"Things to Follow\",\"Tips\",\"Mistakes\",\"Myths\",\"Secrets\",\"Do’s and Don’ts\",\"Step by Step Guide\",\"Reports and Statistics\",\"Questions to Ask Before\",\"Parameters to Consider\"]","type":"array"}]},"options":{}},"id":"7709e2c4-1207-4401-885f-1e59f9f73f66","name":"All Catagory we have","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3536,992]},{"parameters":{"jsCode":"const categories = $json.categories;\nreturn categories.map(category => ({ json: { category } }));"},"id":"fd2f700d-aba7-44fd-b5db-054fad1e7d61","name":"Make Category into List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3312,992]},{"parameters":{"options":{}},"id":"1e10af96-3df2-4af5-a878-1f9c0406aaa2","name":"Loop Over The Category","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2864,992]},{"parameters":{"promptType":"define","text":"=Topic: {{ $('Getting Content Bucket').item.json.Topic }}\nTarget Audience: {{ $('Getting Content Bucket').item.json['Target Audience'] }}\nContent Bucket: {{ $('Getting Content Bucket').item.json['Content Bucket'] }}\nCategory: {{ $json.category }}\n\nGenerate 10 creative, platform-ready ideas under this category for Reels, Shorts, or carousels.\n\nReturn only JSON, no markdown, strictly in this format:\n{\n  \"category\": \"{{ $json.category }}\",\n  \"ideas\": [\"idea1\", \"idea2\", \"idea3\", ...],\n  \"topic\": \"{{ $('Getting Content Bucket').item.json.Topic }}\",\n  \"content_bucket\": \"{{ $('Getting Content Bucket').item.json['Content Bucket'] }}\",\n  \"target_audience\": \"{{ $('Getting Content Bucket').item.json['Target Audience'] }}\"\n}","hasOutputParser":true,"options":{"systemMessage":"You are a social media content strategist. Return valid JSON only. No markdown, no commentary. Output must strictly match schema keys."}},"id":"c1fe5e51-2e52-44c0-9f3d-36432e2124b0","name":"Agent to Generate Ideas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2384,992],"retryOnFail":true},{"parameters":{},"id":"352fa658-79ec-438e-b01e-04c7064c4371","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-2304,1216]},{"parameters":{"jsCode":"let text = $json.output;\nif (typeof text === 'string') {\n  text = text.replace(/\\u0060\\u0060\\u0060json|\\u0060\\u0060\\u0060/g, '').trim();\n  try {\n    return { json: { output: JSON.parse(text) } };\n  } catch (e) {\n    return { json: { output: {} } };\n  }\n}\nreturn { json: { output: text } };"},"id":"750f59b1-886d-4f7b-9233-2246b48aa44c","name":"Converting the Ideas in to Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,992]},{"parameters":{"promptType":"define","text":"=Topic: {{ $json.output.topic }}\nTarget Audience: {{ $json.output.target_audience }}\nContent Bucket: {{ $json.output.content_bucket }}\nCategory: {{ $json.output.category }}\n\nIdeas: {{ $json.output.ideas }}\n\nSelect only the top 3 ideas with highest engagement potential.\nReturn only JSON:\n{\n  \"category\": \"{{ $json.output.category }}\",\n  \"top_3_ideas\": [\"idea1\", \"idea2\", \"idea3\"],\n  \"topic\": \"{{ $json.output.topic }}\",\n  \"content_bucket\": \"{{ $json.output.content_bucket }}\",\n  \"target_audience\": \"{{ $json.output.target_audience }}\"\n}","hasOutputParser":true,"options":{"systemMessage":"You are a social media strategist. Rank and return the top 3 ideas by engagement. No explanations. Output only valid JSON."}},"id":"989d1f99-4785-4579-8f0e-a0a740ca706d","name":"Screen Top Ideas (3/10)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1744,992]},{"parameters":{"jsCode":"const rows = ($json.output.ideas || []).map(idea => ({\n  json: {\n    Category: $json.output.category || \"\",\n    Content_Bucket: $json.output.content_bucket || \"\",\n    Target_Audience: $json.output.target_audience || \"\",\n    Idea: idea || \"\"\n  }\n}));\nreturn rows;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,992],"id":"a73ae6b6-5f3c-4765-8f5b-c1e4246052b1","name":"Top3 Into An Arrray"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA","mode":"list","cachedResultName":"Posting_flow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1984792034,"mode":"list","cachedResultName":"top3_ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit#gid=1984792034"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content_Bucket","displayName":"Content_Bucket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target_Audience","displayName":"Target_Audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Idea","displayName":"Idea","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1168,992],"id":"379ba6e3-3e13-4cdb-8337-6ccfaf742880","name":"Adding Top 3 Ideas into Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"wQjf10BI6wLCJrtJ","name":"Google Sheets account"}}},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-496,320],"id":"7c8181cb-94cf-4896-87a6-63b3e16286c6","name":"Limit"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-144,1040],"id":"27997db9-9bb6-4fdc-9742-c8324383ee8a","name":"Limit1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2560,464],"id":"bd40676e-2e0f-4e20-b75e-eaeb14876ed0","name":"Wait","webhookId":"445e12ec-5486-46c9-a160-feca60ea6fca"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-320,1664],"id":"363681bf-8623-4846-b682-0b19c20c4a19","name":"Limit3"},{"parameters":{"jsCode":"const items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const r = item.json;\n  if (String(r.Approval).toLowerCase() === \"yes\") {\n    const targetAudienceArray = r.Target_Audience ? r.Target_Audience.split(\",\").map(a => a.trim()) : [];\n    const tags = [\n      ...(r.Category ? [r.Category] : []),\n      ...(r.Content_Bucket ? [r.Content_Bucket] : []),\n      ...targetAudienceArray\n    ];\n    out.push({\n      json: {\n        idea: r.Idea,\n        category: r.Category || null,\n        content_bucket: r.Content_Bucket || null,\n        target_audience: targetAudienceArray,\n        tags: tags\n      }\n    });\n  }\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2048,464],"id":"a47ebe34-5a2a-4d4b-baba-fa5aa7b800c5","name":"Filter: Approved Ideas"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Infographic\": {\n    \"Educational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Inspirational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Promotions\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Conversational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Entertainment\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    }\n  },\n  \"Blog\": {\n    \"Listicles\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Detailed Explanation\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Step-by-Step Guide\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    }\n  },\n  \"Video\": {\n    \"Education\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Promotion\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Testimonial\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Engagement\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    }\n  },\n  \"Testimonial\": {\n    \"Quote\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\", \"size\": null },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Unstructured\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Audio\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Review\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    }\n  },\n  \"Lead Magnets\": {\n    \"Educational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Solution Based\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Community Building\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Entertaining\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Promotional\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,464],"id":"7f55c87e-c849-4675-888e-a62dec7577e2","name":"Config: Platform Standards"},{"parameters":{"jsCode":"const config = $json; \nconst out = [];\nfor (const contentType in config) {\n  for (const subtype in config[contentType]) {\n    for (const platform in config[contentType][subtype]) {\n      const data = config[contentType][subtype][platform];\n      out.push({\n        contentType,\n        subtype,\n        platform,\n        type: data.type,\n        media_type: data.media_type,\n        size: data.size\n      });\n    }\n  }\n}\nreturn out.map(x => ({ json: x }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,464],"id":"700bc6c8-3438-470a-bd2e-b388c91f5c38","name":"Flatten Config Object"},{"parameters":{"jsCode":"const ideas = $items(\"Filter: Approved Ideas\").map(i => i.json);\nconst configs = items.map(i => i.json);\nconst out = [];\nfor (const idea of ideas) {\n  for (const cfg of configs) {\n    out.push({\n      json: { ...idea, ...cfg }\n    });\n  }\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,464],"id":"6e18278a-12b7-4b4d-a4e5-8bc1e7f0b42b","name":"Merge Ideas & Config"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-944,1120],"id":"2f89f1b6-f884-436f-bc4d-ffc9048bfa48","name":"Wait: API Buffer","webhookId":"1358c14e-93dd-42b2-ab3d-fda453daff5f"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"image\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,320],"id":"3a639b69-c109-4822-ac35-fb961aca9ed6","name":"Filter: Image Tasks"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"text\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,1040],"id":"86f1eb7b-c83a-4501-ab57-7d471e1f0eee","name":"Filter: Text Tasks"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"pdf\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,1664],"id":"e60a0de3-4db4-456a-9006-284611422310","name":"Filter: PDF Tasks"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,240],"id":"959637b1-6313-4566-afc7-33a0f02c5465","name":"Loop: Image Items"},{"parameters":{"promptType":"define","text":"=You will receive structured input from n8n. Input:\n\nIdea: {{ $json.idea }}\nSubtype: {{ $json.subtype }}\nPlatform: {{ $json.platform }}\nSize: {{ $json.size.width_px }}x{{ $json.size.height_px }}\nTarget Audience: {{ $json.target_audience }}\n\nYour task: Create ONE JSON object containing a prompt and caption.\n\nFINAL OUTPUT JSON STRUCTURE: { \"type\": \"{{ $json.contentType }}\", \"subtype\": \"{{ $json.subtype }}\", \"platform\": \"{{ $json.platform }}\", \"media_type\": \"{{ $json.media_type }}\", \"prompt\": \"STYLE: Clean modern digital illustration...\", \"caption\": \"Your caption here...\" }","hasOutputParser":true,"options":{"systemMessage":"=You are a Senior Digital Designer specializing in high-end infographic illustrations for social media. Return JSON only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-48,48],"id":"9ae2414c-fb62-4f8e-93fa-63d4bdfa1145","name":"Agent: Image Prompt"},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"Infographic\",\n  \"prompt\": \"...\",\n  \"caption\": \"...\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,272],"id":"cc9011d8-686d-4e49-be84-34430cb75698","name":"Parser: Image JSON"},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"b18fba8c-de51-4e60-9462-a20da09ff2ef","leftValue":"={{ $json.output.prompt }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,176],"id":"3936dcb9-4a95-4dc8-be04-25df347bcec2","name":"Check: Prompt Exists"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[976,176],"id":"02b9971e-51a9-447b-b1c1-934bf762d4ec","name":"Get Image Metadata"},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"d9fbc6b5-da78-44ed-b6d5-c611a7211d5b","leftValue":"={{ $json.Filesize }}","rightValue":"0","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,176],"id":"77f8f041-f23d-4cbd-b90b-29c17a08a3fa","name":"Check: File Valid"},{"parameters":{"operation":"resize","dataPropertyName":"templete","width":"={{ $json.size.width }}","height":"={{ $json.size.height }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1424,256],"id":"c7b9f224-b32a-4bc3-8e43-c989456308c9","name":"Resize Logo"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"templete","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1648,256],"id":"a73e5d51-58b1-4273-b7de-3e92d38a22dd","name":"Composite: Add Logo"},{"parameters":{"name":"={{ $('Filter: Image Tasks').item.json.contentType }}_{{ $('Filter: Image Tasks').item.json.subtype }}_{{ $('Filter: Image Tasks').item.json.platform }}_{{ $now.format(\"yyyyMMdd_HHmmss\") }}.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ZFKqpsKoeVfor0bxz72HwfVasLxMUXdD","mode":"list","cachedResultName":"generated_images","cachedResultUrl":"https://drive.google.com/drive/folders/1ZFKqpsKoeVfor0bxz72HwfVasLxMUXdD"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,256],"id":"97f71947-4750-44f3-bb22-5b4e1c5da883","name":"Upload to Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"9zHe2dbiv3n4aNxk","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"name":"FileName","value":"={{ $json.name }}","type":"string"},{"name":"Resource_ID","value":"={{ $json.id }}","type":"string"},{"name":"Permalink","value":"={{ $json.webViewLink }}","type":"string"},{"name":"output.type","value":"={{ $('Agent: Image Prompt').item.json.output.type }}","type":"string"},{"name":"output.subtype","value":"={{ $('Agent: Image Prompt').item.json.output.subtype }}","type":"string"},{"name":"output.platform","value":"={{ $('Agent: Image Prompt').item.json.output.platform }}","type":"string"},{"name":"output.caption","value":"={{ $('Agent: Image Prompt').item.json.output.caption }}","type":"string"},{"name":"idea","value":"={{ $('Loop: Image Items').item.json.idea }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,256],"id":"b7c8367e-f9bc-4e54-b8ad-fc8da09d9e09","name":"Set: Image Data"},{"parameters":{"jsCode":"const item = $json || {};\nconst out = item.output || {};\nreturn {\n  json: {\n    Type: out.type || \"\",\n    Subtype: out.subtype || \"\",\n    Platform: out.platform || \"\",\n    Caption: out.caption || \"\",\n    Idea: item.idea || \"\",\n    FileName: item.FileName || \"\",\n    Resource_ID: item.Resource_ID || \"\",\n    Permalink: item.Permalink || \"\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,256],"id":"0231f8da-492a-45e0-a3ef-46a2106f0db3","name":"Format: Image Sheet Row"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA","mode":"list","cachedResultName":"Posting_flow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":505414262,"mode":"list","cachedResultName":"image_post_approval","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit#gid=505414262"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2768,256],"id":"20127d49-6937-41fc-9785-d992f7a79a74","name":"Log: Image Output","credentials":{"googleSheetsOAuth2Api":{"id":"wQjf10BI6wLCJrtJ","name":"Google Sheets account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2992,320],"id":"5588550e-17b1-46eb-bad5-d32fd2ece23d","name":"Wait: Image Loop","webhookId":"0d40e69a-06f5-46bf-bbfb-7e9dede3ffa7"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2096,256],"id":"7df1041e-c169-4973-9354-b956432d1ab8","name":"Wait: Upload Buffer","webhookId":"dcfbd5a7-bcdf-4fe5-99fa-cf41c45f399f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,1040],"id":"54139244-a1d4-462c-9da6-0e52017c10b2","name":"Loop: Text Items"},{"parameters":{"promptType":"define","text":"=You will receive structured input from n8n.\nIdea: {{ $json.idea }}\nFormat: {{ $json.subtype }}\nPlatform: {{ $json.platform }}\n\nReturn JSON with title and post_body.","hasOutputParser":true,"options":{"systemMessage":"=You are an expert Lead Copywriter. Return JSON only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[304,912],"id":"29184921-f40a-4ffb-ab22-83d792dfda62","name":"Agent: Text Post"},{"parameters":{"jsonSchemaExample":"{\n  \"content_type\": \"Social Post\",\n  \"title\": \"Title here\",\n  \"post_body\": \"Body here\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[432,1136],"id":"1e3dd907-f7e8-43d2-9fca-63dc5a77b88f","name":"Parser: Text JSON"},{"parameters":{"assignments":{"assignments":[{"name":"content_bucket","value":"={{ $('Loop: Text Items').item.json.content_bucket }}","type":"string"},{"name":"output.subtype","value":"={{ $('Loop: Text Items').item.json.type }}-{{ $json.output.subtype }}","type":"string"},{"name":"output.platform","value":"={{ $json.output.platform }}","type":"string"},{"name":"media_type","value":"={{ $('Loop: Text Items').item.json.media_type }}","type":"string"},{"name":"output.title","value":"={{ $json.output.title }}","type":"string"},{"name":"output.post_body","value":"={{ $json.output.post_body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,912],"id":"acd17da7-42ce-4bb4-8f49-e5d8704ae618","name":"Set: Text Data"},{"parameters":{"jsCode":"const item = $json;\nconst out = item.output ?? {};\nreturn {\n  json: {\n    Content_Bucket: item.content_bucket ?? \"\",\n    Subtype: out.subtype ?? \"\",\n    Platform: out.platform ?? \"\",\n    Media_Type: item.media_type ?? \"\",\n    Title: out.title ?? \"\",\n    Post_Body: out.post_body ?? \"\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,912],"id":"d7190a11-86df-40a0-b826-99281022c42e","name":"Format: Text Sheet Row"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_SPREADSHEET_ID_HERE","mode":"id"},"sheetName":{"__rl":true,"value":"text_post_approval","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1104,912],"id":"c6deef12-0fee-43ed-9e54-0a81287b3142","name":"Log: Text Output","credentials":{"googleSheetsOAuth2Api":{"id":"wQjf10BI6wLCJrtJ","name":"Google Sheets account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,1040],"id":"33edc940-b823-4535-87ac-a22e5e55c33e","name":"Wait: Text Loop","webhookId":"d4aa6737-75db-478c-8469-b9e5427c1c54"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,1632],"id":"a13db192-ae34-4c96-803a-a5d6e6911e37","name":"Loop: PDF Items"},{"parameters":{"jsonSchemaExample":"{ \"DOCUMENT_TITLE\": \"Title\", \"DOCUMENT_BODY\": \"Body\", \"SOCIAL_CAPTION\": \"Caption\" }"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[336,1824],"id":"33c700d7-ff30-41bf-8d6b-2cc9b3370167","name":"Parser: PDF JSON"},{"parameters":{"promptType":"define","text":"=Context:\n- Idea: {{ $json.idea }}\n- Subtype: {{ $json.subtype }}\n\nReturn JSON.","hasOutputParser":true,"options":{"systemMessage":"=You are an expert content strategist. Return JSON only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[176,1664],"id":"8027b3ec-bc2f-457c-b51a-c79598016271","name":"Agent: Content Gen","retryOnFail":true},{"parameters":{"jsCode":"const input = $input.first().json.output;\nreturn [{\n  json: {\n    DOCUMENT_TITLE: input.DOCUMENT_TITLE || 'Untitled Document',\n    DOCUMENT_BODY: input.DOCUMENT_BODY || ''\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,1664],"id":"827f2de5-8dfc-4028-bec0-8f6d93fc77e7","name":"Format: Clean Content"},{"parameters":{},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[736,1680],"id":"1a6bd20d-3f75-4b60-b3b2-75a8857809e8","name":"Google Docs: Create Doc"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,1664],"id":"9697d24e-2509-4b34-b094-c2b2a987180b","name":"Drive: Download PDF","credentials":{"googleDriveOAuth2Api":{"id":"9zHe2dbiv3n4aNxk","name":"Google Drive account"}}},{"parameters":{"driveId":{"__rl":true,"value":"YOUR_DRIVE_ID_HERE","mode":"id"},"folderId":{"__rl":true,"value":"YOUR_FOLDER_ID_HERE","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1920,1664],"id":"393c1406-a2dc-4882-9903-aef777c5034e","name":"Drive: Upload PDF","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"9zHe2dbiv3n4aNxk","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"name":"FileName","value":"={{ $json.name }}","type":"string"},{"name":"Resource_ID","value":"={{ $json.id }}","type":"string"},{"name":"Permalink","value":"={{ $json.webViewLink }}","type":"string"},{"name":"output.type","value":"={{ $('Loop: PDF Items').item.json.contentType }}","type":"string"},{"name":"output.subtype","value":"={{ $('Loop: PDF Items').item.json.subtype }}","type":"string"},{"name":"output.platform","value":"={{ $('Loop: PDF Items').item.json.platform }}","type":"string"},{"name":"output.caption","value":"={{ $('Agent: Content Gen').item.json.output.SOCIAL_CAPTION }}","type":"string"},{"name":"idea","value":"={{ $('Limit3').item.json.idea }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,1664],"id":"b9722625-22e4-4290-8799-0d1ecf2dad0b","name":"Set:doc Data"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_SPREADSHEET_ID_HERE","mode":"id"},"sheetName":{"__rl":true,"value":"document_post_approval","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2816,1664],"id":"330301ff-bfaf-4d2b-92a2-26faeeed0dc3","name":"Sheet: Log Record","credentials":{"googleSheetsOAuth2Api":{"id":"wQjf10BI6wLCJrtJ","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2144,1664],"id":"55ed0f2c-a93d-49b9-8c0c-a5e17e7c0ef7","name":"Wait: Upload Buffer Of Doc","webhookId":"e691decc-0c27-4d43-acef-5b71f0c110fe"},{"parameters":{"jsCode":"const item = $json || {};\nconst out = item.output || {};\nreturn {\n  json: {\n    Type: out.type || \"\",\n    Subtype: out.subtype || \"\",\n    Platform: out.platform || \"\",\n    Caption: out.caption || \"\",\n    Idea: item.idea || \"\",\n    FileName: item.FileName || \"\",\n    Resource_ID: item.Resource_ID || \"\",\n    Permalink: item.Permalink || \"\"\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,1664],"id":"c6b6f34e-99f8-457d-85ee-3bafe24a2be5","name":"Format:Documnet Sheet Row"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3008,1776],"id":"6a85d038-c1b5-40b1-a1bb-e26682bb4fbb","name":"Wait: Document Loop","webhookId":"86387370-f7ba-400b-a5f2-b0a7d9ea6eb0"},{"parameters":{"documentId":{"__rl":true,"value":"1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA","mode":"list","cachedResultName":"Posting_flow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1984792034,"mode":"list","cachedResultName":"top3_ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yt_hPNvlS59pb9vnuDsaHAgZwA3OoQRCVFYO1RW3_UA/edit#gid=1984792034"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2304,464],"id":"d559f328-c731-4dc9-8b56-a70b5cd19d1f","name":"Fetch Ideas","credentials":{"googleSheetsOAuth2Api":{"id":"wQjf10BI6wLCJrtJ","name":"Google Sheets account"}}},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=1juf5iY9Kb2nTeSTCi-GTqJb0EGcP9uLM","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"templete"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,176],"id":"6257888b-5ec5-48fe-ae7f-492c64bf1850","name":"downlode_logo"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3104,992],"id":"8573d232-10fd-4695-b5c1-6a338dd3da43","name":"Limit2"},{"parameters":{"model":"openai/gpt-oss-20b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2528,1200],"id":"3ced33e4-64f2-457d-b370-13aff693bdd0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"C7t40aOoVqpA80cQ","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,256],"id":"4872501e-366c-4cc9-913f-edd1d64f4d7e","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"C7t40aOoVqpA80cQ","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[288,1136],"id":"02cec266-cd70-4c21-b080-6d1f74dbbad6","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"C7t40aOoVqpA80cQ","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[16,1824],"id":"9b4aa0c8-a0d6-4f41-9d08-97ada10e3024","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"C7t40aOoVqpA80cQ","name":"OpenRouter account"}}},{"parameters":{"method":"POST","url":"https://img-gen-api.mb80741777.workers.dev","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 12345678"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.output.prompt }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[528,176],"id":"83fb4a43-cad9-46d9-a882-41448f28e9d2","name":"Image generation"}],"connections":{"Parsing 10 ideas":{"ai_outputParser":[[{"node":"Agent to Generate Ideas","type":"ai_outputParser","index":0}]]},"parsing best 3 ideas":{"ai_outputParser":[[{"node":"Screen Top Ideas (3/10)","type":"ai_outputParser","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Getting Content Bucket","type":"main","index":0}]]},"Getting Content Bucket":{"main":[[{"node":"All Catagory we have","type":"main","index":0}]]},"All Catagory we have":{"main":[[{"node":"Make Category into List","type":"main","index":0}]]},"Make Category into List":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Loop Over The Category":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Agent to Generate Ideas","type":"main","index":0}]]},"Agent to Generate Ideas":{"main":[[{"node":"Converting the Ideas in to Array","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent to Generate Ideas","type":"ai_tool","index":0}]]},"Converting the Ideas in to Array":{"main":[[{"node":"Screen Top Ideas (3/10)","type":"main","index":0}]]},"Screen Top Ideas (3/10)":{"main":[[{"node":"Top3 Into An Arrray","type":"main","index":0}]]},"Top3 Into An Arrray":{"main":[[{"node":"Adding Top 3 Ideas into Sheets","type":"main","index":0}]]},"Adding Top 3 Ideas into Sheets":{"main":[[{"node":"Wait: API Buffer","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop: Text Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Fetch Ideas","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"Loop: PDF Items","type":"main","index":0}]]},"Filter: Approved Ideas":{"main":[[{"node":"Config: Platform Standards","type":"main","index":0}]]},"Config: Platform Standards":{"main":[[{"node":"Flatten Config Object","type":"main","index":0}]]},"Flatten Config Object":{"main":[[{"node":"Merge Ideas & Config","type":"main","index":0}]]},"Merge Ideas & Config":{"main":[[{"node":"Filter: Text Tasks","type":"main","index":0},{"node":"Filter: Image Tasks","type":"main","index":0}]]},"Wait: API Buffer":{"main":[[{"node":"Loop Over The Category","type":"main","index":0}]]},"Filter: Image Tasks":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Filter: Text Tasks":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Filter: PDF Tasks":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Loop: Image Items":{"main":[[],[{"node":"Agent: Image Prompt","type":"main","index":0}]]},"Agent: Image Prompt":{"main":[[{"node":"Check: Prompt Exists","type":"main","index":0}]]},"Parser: Image JSON":{"ai_outputParser":[[{"node":"Agent: Image Prompt","type":"ai_outputParser","index":0}]]},"Check: Prompt Exists":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}],[{"node":"Image generation","type":"main","index":0}]]},"Get Image Metadata":{"main":[[{"node":"Check: File Valid","type":"main","index":0}]]},"Check: File Valid":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}],[{"node":"Resize Logo","type":"main","index":0}]]},"Resize Logo":{"main":[[{"node":"Composite: Add Logo","type":"main","index":0}]]},"Composite: Add Logo":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Wait: Upload Buffer","type":"main","index":0}]]},"Set: Image Data":{"main":[[{"node":"Format: Image Sheet Row","type":"main","index":0}]]},"Format: Image Sheet Row":{"main":[[{"node":"Log: Image Output","type":"main","index":0}]]},"Log: Image Output":{"main":[[{"node":"Wait: Image Loop","type":"main","index":0}]]},"Wait: Image Loop":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}]]},"Wait: Upload Buffer":{"main":[[{"node":"Set: Image Data","type":"main","index":0}]]},"Loop: Text Items":{"main":[[],[{"node":"Agent: Text Post","type":"main","index":0}]]},"Agent: Text Post":{"main":[[{"node":"Set: Text Data","type":"main","index":0}]]},"Parser: Text JSON":{"ai_outputParser":[[{"node":"Agent: Text Post","type":"ai_outputParser","index":0}]]},"Set: Text Data":{"main":[[{"node":"Format: Text Sheet Row","type":"main","index":0}]]},"Format: Text Sheet Row":{"main":[[{"node":"Log: Text Output","type":"main","index":0}]]},"Log: Text Output":{"main":[[{"node":"Wait: Text Loop","type":"main","index":0}]]},"Wait: Text Loop":{"main":[[{"node":"Loop: Text Items","type":"main","index":0}]]},"Loop: PDF Items":{"main":[[],[{"node":"Agent: Content Gen","type":"main","index":0}]]},"Parser: PDF JSON":{"ai_outputParser":[[{"node":"Agent: Content Gen","type":"ai_outputParser","index":0}]]},"Agent: Content Gen":{"main":[[{"node":"Format: Clean Content","type":"main","index":0}]]},"Google Docs: Create Doc":{"main":[[{"node":"Drive: Download PDF","type":"main","index":0}]]},"Drive: Download PDF":{"main":[[{"node":"Drive: Upload PDF","type":"main","index":0}]]},"Format: Clean Content":{"main":[[{"node":"Google Docs: Create Doc","type":"main","index":0}]]},"Drive: Upload PDF":{"main":[[{"node":"Wait: Upload Buffer Of Doc","type":"main","index":0}]]},"Set:doc Data":{"main":[[{"node":"Format:Documnet Sheet Row","type":"main","index":0}]]},"Sheet: Log Record":{"main":[[{"node":"Wait: Document Loop","type":"main","index":0}]]},"Wait: Upload Buffer Of Doc":{"main":[[{"node":"Set:doc Data","type":"main","index":0}]]},"Format:Documnet Sheet Row":{"main":[[{"node":"Sheet: Log Record","type":"main","index":0}]]},"Wait: Document Loop":{"main":[[{"node":"Loop: PDF Items","type":"main","index":0}]]},"Fetch Ideas":{"main":[[{"node":"Filter: Approved Ideas","type":"main","index":0}]]},"downlode_logo":{"main":[[{"node":"Get Image Metadata","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Loop Over The Category","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agent to Generate Ideas","type":"ai_languageModel","index":0},{"node":"Screen Top Ideas (3/10)","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Agent: Image Prompt","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Agent: Text Post","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"Agent: Content Gen","type":"ai_languageModel","index":0}]]},"Image generation":{"main":[[{"node":"downlode_logo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"77158b32-dde3-46fd-b841-4193a52a0915","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T14:27:25.980Z","createdAt":"2026-03-22T14:27:25.980Z","role":"workflow:owner","workflowId":"3rYtfDNmaBkYsCSD","projectId":"bj48yuVkPnuVkndV"}],"activeVersion":null,"tags":[]}