beable_workflow-0BvMpDsaJziUvNab.json
{"updatedAt":"2026-04-29T14:44:57.026Z","createdAt":"2026-03-04T12:41:30.005Z","id":"0BvMpDsaJziUvNab","name":"beable_workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Tips\",\n  \"ideas\": [\"Add lemon juice to egg salad.\",\"Use Greek yogurt instead of mayo.\"],\n  \"topic\": \"Egg Salad\",\n  \"content_bucket\": \"Healthy Eating\",\n  \"target_audience\": \"College students\"\n}"},"id":"37201ecb-f7f7-49d5-9d9c-bed182434da4","name":"Parsing 10 ideas","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1440,1344]},{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Tips\",\n  \"ideas\": [\"Add lemon juice to egg salad.\",\"Use Greek yogurt instead of mayo.\"],\n  \"topic\": \"Egg Salad\",\n  \"content_bucket\": \"Healthy Eating\",\n  \"target_audience\": \"College students\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-944,1344],"id":"bcab1c65-3a81-43d4-a11e-eece64881236","name":"parsing best 3 ideas"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3248,1120],"id":"ebc6e85a-ac55-48b6-84a8-eb6a6eb8558f","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.records.fetch&worksheet_name=content_bucket&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3024,1120],"id":"2619b5d9-1cf6-4335-aefc-3e0767e8392f","name":"Getting Content Bucket"},{"parameters":{"assignments":{"assignments":[{"name":"categories","value":"[\"Direct Information / Answer\",\"Mindsets\",\"Truths or Facts\",\"Things to Follow\",\"Tips\",\"Mistakes\",\"Myths\",\"Secrets\",\"Do’s and Don’ts\",\"Step by Step Guide\",\"Reports and Statistics\",\"Questions to Ask Before\",\"Parameters to Consider\"]","type":"array"}]},"options":{}},"id":"54319045-1b82-4bd8-95d1-8450e218e41c","name":"All Catagory we have","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2800,1120]},{"parameters":{"jsCode":"const categories = $json.categories;\nreturn categories.map(category => ({ json: { category } }));"},"id":"5f911dca-a696-4dc8-9f90-6844c4ef8851","name":"Make Category into List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2576,1120]},{"parameters":{"options":{}},"id":"eef7f90b-6d81-49df-9c68-757afec86e51","name":"Loop Over The Category","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2128,1120]},{"parameters":{"promptType":"define","text":"=Topic: {{ $('Getting Content Bucket').item.json.records[0].Topic }}\nTarget Audience: {{ $('Getting Content Bucket').item.json.records[0]['Target Audience'] }}\nContent Bucket: {{ $('Getting Content Bucket').item.json.records[0]['Content Bucket'] }}\nCategory: {{ $json.category }}\n\nGenerate 10 creative, platform-ready ideas under this category for Reels, Shorts, or carousels.\n\nReturn only JSON, no markdown, strictly in this format:\n{\n  \"category\": \"{{ $json.category }}\",\n  \"ideas\": [\"idea1\", \"idea2\", \"idea3\", ...],\n  \"topic\": \"{{ $('Getting Content Bucket').item.json.records[0].Topic }}\",\n  \"content_bucket\": \"{{ $('Getting Content Bucket').item.json.records[0]['Content Bucket'] }}\",\n  \"target_audience\": \"{{ $('Getting Content Bucket').item.json.records[0]['Target Audience'] }}\"\n}","hasOutputParser":true,"options":{"systemMessage":"You are a social media content strategist. Return valid JSON only. No markdown, no commentary. Output must strictly match schema keys."}},"id":"06012b03-c3bf-4f47-8bea-27ec22216ee8","name":"Agent to Generate Ideas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1648,1120],"retryOnFail":true},{"parameters":{"options":{}},"id":"e07183ed-c433-4fa8-b156-c6cb1500caec","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1696,1344]},{"parameters":{},"id":"beb24c3c-8b96-413b-a8ce-46ca35fbb868","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1568,1344]},{"parameters":{"jsCode":"let text = $json.output;\nif (typeof text === 'string') {\n  text = text.replace(/```json|```/g, '').trim();\n  try {\n    return { json: { output: JSON.parse(text) } };\n  } catch (e) {\n    return { json: { output: {} } };\n  }\n}\nreturn { json: { output: text } };"},"id":"f1459b4e-4227-46e1-a03b-85dab48ea33c","name":"Converting the Ideas in to Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,1120]},{"parameters":{"promptType":"define","text":"=Topic: {{ $json.output.topic }}\nTarget Audience: {{ $json.output.target_audience }}\nContent Bucket: {{ $json.output.content_bucket }}\nCategory: {{ $json.output.category }}\n\nIdeas: {{ $json.output.ideas }}\n\nSelect only the top 3 ideas with highest engagement potential.\nReturn only JSON:\n{\n  \"category\": \"{{ $json.output.category }}\",\n  \"top_3_ideas\": [\"idea1\", \"idea2\", \"idea3\"],\n  \"topic\": \"{{ $json.output.topic }}\",\n  \"content_bucket\": \"{{ $json.output.content_bucket }}\",\n  \"target_audience\": \"{{ $json.output.target_audience }}\"\n}","hasOutputParser":true,"options":{"systemMessage":"You are a social media strategist. Rank and return the top 3 ideas by engagement. No explanations. Output only valid JSON."}},"id":"aba940c7-289b-485d-a087-5052d7e53dd8","name":"Screen Top Ideas (3/10)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1008,1120]},{"parameters":{"jsCode":"// Prepare 3 rows, one for each idea\nconst rows = ($json.output.ideas || []).map(idea => ({\n  Category: $json.output.category || \"\",\n  Content_Bucket: $json.output.content_bucket || \"\",\n  Target_Audience: $json.output.target_audience || \"\",\n  Idea: idea || \"\"\n}));\n\n// Step 1: Stringify\nconst jsonString = JSON.stringify(rows);\n\n// Step 2: URL encode for Zoho Sheets\nconst encoded = encodeURIComponent(jsonString);\n\nreturn {\n  json: {\n    json_data: encoded\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,1120],"id":"7789af6b-2b48-424a-85c9-225ae75e8be5","name":"Top3 Into An Arrray"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=top_3_ideas&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,1120],"id":"61fcd70b-5076-4bb0-98e0-55dad674896a","name":"Adding Top 3 Ideas into Sheets"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[240,448],"id":"56f19b8d-1b11-4828-9ccd-bb06e9cf9b08","name":"Limit"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[592,1168],"id":"cc62de33-0fc5-4524-a878-5bed334f4257","name":"Limit1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2352,1120],"id":"c01e455d-2118-419a-a6bc-504d74dc4c9f","name":"Limit2"},{"parameters":{"content":"## PHASE 1\n##START + INPUT DATA\nWorkflow starts manually.\n\nFetches Topic + Target Audience + Content Bucket from Zoho Sheets.\n\nCreates a list of Categories (content angles) to generate ideas for.","height":368,"width":1344},"type":"n8n-nodes-base.stickyNote","position":[-3312,912],"typeVersion":1,"id":"f9983b6a-d197-4072-b2d1-d57c1b334201","name":"Sticky Note"},{"parameters":{"content":"## IDEA GENERATION (10 IDEAS) \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nFor each category, Gemini generates 10 creative ideas.\n\nOutput is forced into valid JSON using Output Parser.\n\nIf Gemini returns text instead of JSON, we safely convert it into JSON.","height":656,"width":592},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,1040],"id":"f6780b39-2d1f-4b0a-9a86-c0665a4da4a8","name":"Sticky Note1"},{"parameters":{"content":"## FILTER TOP 3 IDEAS\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nGemini ranks the 10 ideas and selects the top 3 best ideas.\n\nThe selected ideas are saved into Zoho Sheet (top_3_ideas).\n\nWait is added to avoid API rate issues.","height":640,"width":1200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,1040],"id":"0d2d4889-dced-46a7-ba6b-593a03f7143c","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1824,592],"id":"4634e715-896e-49dc-974a-700d61011c8d","name":"Wait","webhookId":"96988160-c102-4747-83ba-c6a8e408a2ea"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[416,1792],"id":"cffc35a9-7222-43df-b1dd-f2af7d190b14","name":"Limit3"},{"parameters":{"content":"## PHASE 2: The Multiplier\n**Goal:** Assign specific formats to every idea.\n\n**Logic:**\nThis section takes the **Approved Ideas** and multiplies them by your **Platform Rules**.\n\n**The Math:**\nIf you have **3 Ideas** and **4 Platforms** (Insta, LinkedIn, X, FB), this node creates **12 Tasks**.\n\n**Example:**\n* **Task A:** Idea 1 → Instagram (Requires: Image 1080x1350)\n* **Task B:** Idea 1 → LinkedIn (Requires: Text Post)\n* **Task C:** Idea 1 → Blog (Requires: PDF Guide)","height":544,"width":1696,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1888,240],"typeVersion":1,"id":"8cc5ac46-c329-417a-8ac3-02c9bd015729","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.records.fetch&worksheet_name=top_3_ideas&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,592],"id":"3f9376bb-9dca-4e62-a1a4-f29e3cb8ce67","name":"Fetch Ideas (Zoho)"},{"parameters":{"jsCode":"// Handle the JSON whether it's array or object\nlet input = $json;\n\n// If the input is an array, use the first element\nif (Array.isArray(input)) {\n  input = input[0];\n}\n\n// Safety check\nif (!input || !input.records || !Array.isArray(input.records)) {\n  return [];\n}\n\nconst items = [];\n\nfor (const r of input.records) {\n  if (String(r.Approval).toLowerCase() === \"yes\") {\n\n    // Split target audience into clean array\n    const targetAudienceArray = r.Target_Audience\n      ? r.Target_Audience.split(\",\").map(a => a.trim())\n      : [];\n\n    // Build tags\n    const tags = [\n      ...(r.Category ? [r.Category] : []),\n      ...(r.Content_Bucket ? [r.Content_Bucket] : []),\n      ...targetAudienceArray\n    ];\n\n    items.push({\n      json: {\n        idea: r.Idea,\n        category: r.Category || null,\n        content_bucket: r.Content_Bucket || null,\n        target_audience: targetAudienceArray,\n        tags: tags\n      }\n    });\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,592],"id":"7a456a10-79e3-4969-9294-116adfd24446","name":"Filter: Approved Ideas"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Infographic\": {\n    \"Educational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Inspirational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Promotions\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Conversational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Entertainment\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    }\n  },\n  \"Blog\": {\n    \"Listicles\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Detailed Explanation\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Step-by-Step Guide\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    }\n  },\n  \"Video\": {\n    \"Education\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Promotion\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Testimonial\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Engagement\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    }\n  },\n  \"Testimonial\": {\n    \"Quote\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\", \"size\": null },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Unstructured\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Audio\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Review\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    }\n  },\n  \"Lead Magnets\": {\n    \"Educational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Solution Based\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Community Building\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Entertaining\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Promotional\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,592],"id":"93049521-d788-4a7c-85d2-4c83b7dd521e","name":"Config: Platform Standards"},{"parameters":{"jsCode":"const config = $json; // your master config JSON\nconst out = [];\n\nfor (const contentType in config) {\n  for (const subtype in config[contentType]) {\n    for (const platform in config[contentType][subtype]) {\n      const data = config[contentType][subtype][platform];\n\n      out.push({\n        contentType,\n        subtype,\n        platform,\n        type: data.type,\n        media_type: data.media_type,\n        size: data.size\n      });\n    }\n  }\n}\n\nreturn out.map(x => ({ json: x }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,592],"id":"c0d2946e-8dc4-4860-b141-5d379dc40997","name":"Flatten Config Object"},{"parameters":{"jsCode":"// 1) Approved ideas from the node: \"taking only approved ideas\"\nconst ideas = $items(\"Filter: Approved Ideas\").map(i => i.json);\n\n// 2) Configs from current input (flattened config from Code in JavaScript18)\nconst configs = items.map(i => i.json);\n\nif (!ideas.length) {\n  throw new Error(\"No approved ideas found. Check 'taking only approved ideas' output.\");\n}\n\nif (!configs.length) {\n  throw new Error(\"No configs found. Check 'Code in JavaScript18' output.\");\n}\n\nconst out = [];\n\nfor (const idea of ideas) {\n  for (const cfg of configs) {\n    out.push({\n      json: {\n        ...idea,\n        ...cfg\n      }\n    });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,592],"id":"719c3837-ab32-4771-8aa1-2d92be5a1cd0","name":"Merge Ideas & Config"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-208,1248],"id":"c1b66ff7-507f-4738-8a33-328f5e49c4dd","name":"Wait: API Buffer","webhookId":"b6434cf2-fe33-48b7-baa3-10b24e5ac118"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"image\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,448],"id":"7e3a24e6-563d-4491-87e6-ddf7746607a5","name":"Filter: Image Tasks"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"text\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,1168],"id":"fb512a63-f314-41f1-b636-a9dad9ff861c","name":"Filter: Text Tasks"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"pdf\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,1792],"id":"359fa8bd-9dbe-4281-bdd3-7aa268dac49a","name":"Filter: PDF Tasks"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,448],"id":"9ec827de-1a24-4224-ab61-fad60c60979a","name":"Loop: Image Items"},{"parameters":{"promptType":"define","text":"=You will receive structured input from n8n. Input:\n\nIdea: {{ $json.idea }}\n\nSubtype: {{ $json.subtype }}\n\nPlatform: {{ $json.platform }}\n\nSize: {{ $json.size.width_px }}x{{ $json.size.height_px }}\n\nTarget Audience: {{ $json.target_audience }}\n\nYour task: Create ONE JSON object containing a prompt and caption.\n\nINSTRUCTIONS FOR THE \"prompt\" FIELD:\n\nStyle Definition: Start immediately with keywords that define a clean digital style: \"Stylized digital illustration,\" \"Matte 3D render,\" \"Clean design,\" \"Adobe Illustrator aesthetic.\"\n\nSubject Description: Describe the elements as stylized icons or digital objects, not real-world items. (e.g., instead of \"a fresh apple,\" use \"a stylized, geometric apple icon\").\n\nForcing the Layout: Use strong design terms to keep the top/bottom empty: \"Vast clean negative space,\" \"Elements floating in center,\" \"Uninterrupted background field.\"\n\nBrand Colors: The background must STRICTLY use one of the following solid colors: Black (#000000), White (#FFFFFF), Grey (#40403F), Orange (#FF8C00), or Brown (#2D2017).\n\nINSTRUCTIONS FOR THE \"caption\" FIELD:\n\nHook the reader.\n\nExplain the idea simply and engagingly.\n\nAdd 10-15 relevant hashtags.\n\nFINAL OUTPUT JSON STRUCTURE (Return ONLY this): { \"type\": \"{{ $json.contentType }}\", \"subtype\": \"{{ $json.subtype }}\", \"platform\": \"{{ $json.platform }}\", \"media_type\": \"{{ $json.media_type }}\", \"prompt\": \"STYLE: Clean modern digital illustration, stylized 3D render with a matte finish. No photorealism. SUBJECT: [Describe centered visual elements as clean digital graphics representing {{ $json.idea }}]. COMPOSITION: Centered graphic element surrounded by vast, clean negative space. The top 30% and bottom 30% of the canvas are pure, empty background. BACKGROUND: Solid, smooth, continuous digital background color using strictly one of these brand colors: Black (#000000), White (#FFFFFF), Grey (#40403F), Orange (#FF8C00), or Brown (#2D2017). LIGHTING: Soft, even, diffused digital studio lighting.\", \"caption\": \"Your caption here...\" }","hasOutputParser":true,"options":{"systemMessage":"=You are a Senior Digital Designer specializing in high-end infographic illustrations for social media.\n\nYOUR AESTHETIC GOAL:\n- The output must look like a clean, professional digital graphic created in Adobe Photoshop/Illustrator or a stylized 3D program like Cinema 4D.\n- AVOID photorealism, gritty textures, or real-world camera effects (like depth of field or grain).\n- Aim for a \"matte finish,\" \"soft gradients,\" \"clean lines,\" and \"stylized rendering.\"\n\nCRITICAL LAYOUT RULES (Non-negotiable):\n1.  **The Vertical Center Rule:** All main visual elements must be clustered tightly in the middle 50% of the canvas.\n2.  **The Empty Zones:** The Top 20% and Bottom 20% of the image must be completely empty, clean negative space.\n3.  **The Background Rule:** The background must be one solid, continuous color or very soft, seamless gradient across the entire image. No horizon lines, no floor meeting a wall.\n\nOUTPUT FORMAT:\n- You must return a single, valid JSON object containing only the requested structure."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[688,176],"id":"12a1bbc5-de50-4cd0-a187-69f6e4571e32","name":"Agent: Image Prompt"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[688,400],"id":"8ae66abc-c96d-401d-8668-dfa4385a0620","name":"Model: Gemini (Image)"},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"Infographic\",\n  \"subtype\": \"Educational\",\n  \"platform\": \"Instagram\",\n  \"media_type\": \"image\",\n  \"prompt\": \"STYLE: Clean modern digital illustration, stylized 3D render with a matte finish. No photorealism. SUBJECT: A stylized comparison graphic floating in the center. On the left, a sleek, geometric icon of a coffee cup with a lightning bolt (representing caffeine) rendered in warm oranges. On the right, a smooth, rounded icon of a green tea leaf and a calm wave (representing L-theanine) rendered in cool greens. A subtle, clean arrow graphic points between them. COMPOSITION: These elements are tightly grouped in the exact canvas center, surrounded by vast, clean negative space. The top 30% and bottom 30% of the canvas are pure, empty background. BACKGROUND: A continuous, smooth, soft off-white digital background with a very subtle radial gradient. LIGHTING: Soft, even, diffused digital studio lighting creating gentle, clean shadows.\",\n  \"caption\": \"Caffeine vs. Clean Energy ⚡️🍵\\n\\nWe all love the coffee kick, but it often comes with jitters and a crash. The combination of caffeine and L-theanine found in green tea provides a smoother, more sustained focus without the edge.\\n\\nSometimes smarter energy is better than more energy.\\n\\n#FocusTips #ProductivityHacks #GreenTea #MatchaBenefits #HealthyEnergy #NoCrash #WorkSmarter #BrainFuel #WellnessJourney #CleanLiving #Biohacking\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,400],"id":"dcdacf81-ad4b-4e7e-843c-dc3de391c5c6","name":"Parser: Image JSON"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b18fba8c-de51-4e60-9462-a20da09ff2ef","leftValue":"={{ $json.output.prompt }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1040,304],"id":"fa1f2fdd-d5ab-48b9-b6b1-ea9eea2dd9e7","name":"Check: Prompt Exists"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image","mode":"list","cachedResultName":"models/gemini-2.5-flash-image (Nano Banana)"},"prompt":"={{ $json.output.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1264,304],"id":"9c2ad861-bf43-4896-8dd3-de56cadc3215","name":"Gen: Create Image"},{"parameters":{"url":"https://download.zoho.in/v1/workdrive/download/im5rbfc1f4446f428468fb6ccc6ba3fbca678","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"logo"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1488,304],"id":"b9c7ce2b-6bdf-4503-a278-50a9f2218d23","name":"Download Logo","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1712,304],"id":"e41aef28-a19b-4ea5-ac6f-e131e022a66b","name":"Get Image Metadata"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d9fbc6b5-da78-44ed-b6d5-c611a7211d5b","leftValue":"={{ $json.Filesize }}","rightValue":"0","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1936,304],"id":"d6db9d44-367d-4255-881e-68ad642a96e9","name":"Check: File Valid"},{"parameters":{"operation":"resize","dataPropertyName":"logo","width":"={{ $json.size.width }}","height":"={{ $json.size.height }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2160,384],"id":"71e4f57a-86d2-4240-ac43-d6897f456ccf","name":"Resize Logo"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"logo","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2384,384],"id":"0d23b1c6-a53d-4dba-a2b4-788035ea61f5","name":"Composite: Add Logo"},{"parameters":{"method":"POST","url":"https://www.zohoapis.in/workdrive/api/v1/upload","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"parent_id","value":"2s09814ade65750ac4a0c929480197765fd7d"},{"name":"filename","value":"={{ $('Filter: Image Tasks').item.json.contentType }}_{{ $('Filter: Image Tasks').item.json.subtype }}_{{ $('Filter: Image Tasks').item.json.platform }}_{{ $now.format(\"yyyyMMdd_HHmmss\") }}.png\n"},{"parameterType":"formBinaryData","name":"content","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2608,384],"id":"5e7c289e-614a-44e9-87c8-502ec745ecdf","name":"Upload to WorkDrive","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"d54d031e-9880-4c82-9d0f-4641f82382a9","name":"data[0].attributes.FileName","value":"={{ $json.data[0].attributes.FileName }}","type":"string"},{"id":"d33a5c1b-2e6e-4064-9c5c-02633e6c2def","name":"data[0].attributes.resource_id","value":"={{ $json.data[0].attributes.resource_id }}","type":"string"},{"id":"beecdc7a-2f15-4dc1-8bfa-c61c46e3a89d","name":"data[0].attributes.Permalink","value":"={{ $json.data[0].attributes.Permalink }}","type":"string"},{"id":"9085c6b9-2276-40c7-8bfa-bb478c1e19f8","name":"output.type","value":"={{ $('Agent: Image Prompt').item.json.output.type }}","type":"string"},{"id":"11324404-ef77-4b24-889a-818b34595ae8","name":"output.subtype","value":"={{ $('Agent: Image Prompt').item.json.output.subtype }}","type":"string"},{"id":"78251b78-ed81-4c46-8221-039e00b37e39","name":"output.platform","value":"={{ $('Agent: Image Prompt').item.json.output.platform }}","type":"string"},{"id":"1690551f-01b6-4e02-9065-03d86333a6be","name":"output.caption","value":"={{ $('Agent: Image Prompt').item.json.output.caption }}","type":"string"},{"id":"8910c59d-1da0-4de9-8d43-13faf9b9192b","name":"idea","value":"={{ $('Loop: Image Items').item.json.idea }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,384],"id":"cf9411fc-2aef-48ff-a214-6e6c83f44ae1","name":"Set: Image Data"},{"parameters":{"jsCode":"// Safely extract main objects\nconst item = $json || {};\nconst out = item.output || {};\nconst fileAttr = item.data?.[0]?.attributes || {};\n\n// Build one row for Zoho Sheets\nconst row = {\n  Type: out.type || \"\",\n  Subtype: out.subtype || \"\",\n  Platform: out.platform || \"\",\n  Caption: out.caption || \"\",\n  Idea: item.idea || \"\",\n  FileName: fileAttr.FileName || \"\",\n  Resource_ID: fileAttr.resource_id || \"\",\n  Permalink: fileAttr.Permalink || \"\"\n};\n\n// Zoho expects an array of records\nconst rows = [row];\n\n// Convert to JSON string\nconst jsonString = JSON.stringify(rows);\n\n// URL encode for Zoho API\nconst encoded = encodeURIComponent(jsonString);\n\n// Return final payload\nreturn {\n  json: {\n    json_data: encoded\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3280,384],"id":"d5e3e672-142c-4f67-ba92-a79f9482d666","name":"Format: Image Sheet Row"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=image_post_approval&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3504,384],"id":"4a2d5a62-5d13-44e0-88a5-d72241c0cfc4","name":"Log: Image Output"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3728,448],"id":"4e7a8d9c-925d-41fc-8d34-23a346392b54","name":"Wait: Image Loop","webhookId":"1969989f-b23d-4948-bb74-7a62566abf3b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2832,384],"id":"a1790390-3474-4d48-9f2e-91318afe2e79","name":"Wait: Upload Buffer","webhookId":"e24973a8-6403-4fff-8591-b303ba872e37"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,1168],"id":"bdab2bb3-3d25-4ddb-a8dd-2069cd70d559","name":"Loop: Text Items"},{"parameters":{"promptType":"define","text":"=You will receive structured input from n8n.\nInput Variables:\n- Idea: {{ $json.idea }}\n- Content Type: {{ $json.contentType }} \n- Subtype: {{ $json.subtype }} \n- Platform: {{ $json.platform }}\n- Target Audience: {{ $json.target_audience }}\n- Tone/Mood: {{ $json.content_bucket }} (optional context)\n\n### YOUR MISSION:\nWrite the final text content based on the variables above.\n\n**Step 1: Analyze the Context**\n- Who is reading this? (Target Audience)\n- Where are they reading it? (Platform)\n- What is the specific format? (Subtype)\n\n**Step 2: Draft the Content**\n- **Headline/Title:** Create a hook that stops the scroll or gets the click.\n- **Body:** Write the full content. Use formatting (bullet points, bold text) suitable for the platform.\n- **Hashtags:** If social media, add 5-10 relevant tags at the end.\n\n**Step 3: Humanize**\n- Remove any \"corporate fluff.\"\n- Ensure the tone fits the specific Subtype (e.g., if \"Story,\" be narrative; if \"Listicle,\" be snappy).\n\n### FINAL OUTPUT JSON (Return ONLY this):\n{\n  \"content_type\": \"{{ $json.contentType }}\",\n  \"subtype\": \"{{ $json.subtype }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"title\": \"WRITE THE CATCHY HEADLINE/SUBJECT HERE\",\n  \"post_body\": \"WRITE THE FULL FORMATTED TEXT CONTENT HERE\"\n}","hasOutputParser":true,"options":{"systemMessage":"=You are an expert Lead Copywriter and Content Strategist.\nYour goal is to write high-converting, deeply human text content that matches specific platforms and audiences.\n\n### 🚫 THE \"ANTI-ROBOT\" STYLE GUIDE (STRICT RULES):\n1.  **Banished Vocabulary:** NEVER use these words: *delve, unveil, realm, tapestry, symphony, game-changer, paramount, landscape, foster, leverage, utilize, meticulous, dynamic.*\n2.  **The \"Bar Test\":** Write as if you are explaining the idea to a friend at a bar. If you wouldn't say it out loud, don't write it.\n3.  **Sentence Variance:** Mix short, punchy sentences with longer, flowing ones. Avoid repetitive sentence structures.\n4.  **Active Voice:** Use \"You need this\" instead of \"This is needed by you.\"\n\n### 🧠 PLATFORM INTELLIGENCE:\n- **LinkedIn:** Professional but personal. Use line breaks for readability. Focus on insights and career value.\n- **Twitter/X:** Fast, punchy, no fluff. If \"Thread\" is requested, number the posts (1/5).\n- **Facebook:** Community-focused, conversational, slightly emotional or opinionated.\n- **Instagram (Caption):** Visual, aesthetic, mood-based. Use spacing and relevant emojis.\n- **Blog/Article:** SEO-friendly, structured (H1, H2), informative, and authoritative.\n\n### OUTPUT FORMAT:\n- Return ONLY valid JSON.\n- The JSON must contain \"title\" (headline/subject line) and \"post_body\" (the main content)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1040,1040],"id":"30d86e90-c731-4dfe-9b36-95a8a114d378","name":"Agent: Text Post"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1040,1264],"id":"c18ed24f-aa06-469d-b3f1-779a1ddcf458","name":"Model: Gemini (Text)"},{"parameters":{"jsonSchemaExample":"{\n  \"content_type\": \"Social Post\",\n  \"subtype\": \"Story\",\n  \"platform\": \"LinkedIn\",\n  \"title\": \"It's not about the location. It's about the clock. ⏰\",\n  \"post_body\": \"Three years ago, I thought \\\"Remote Work\\\" just meant moving my laptop from the office cubicle to my kitchen table.\\n\\nI was wrong.\\n\\nI was still logging on at 9 AM. I was still glued to Slack until 5 PM. I was still stressed about \\\"looking busy\\\" even though no one could see me.\\n\\nReal freedom didn't hit me until I stopped managing my *location* and started managing my *energy*.\\n\\nYesterday, I went to the gym at 10 AM. I wrote my best code at 8 PM. I took a nap at 2 PM because my brain hit a wall.\\n\\nThe result? I got more done in 4 hours of focused, flexible work than I ever did in 8 hours of rigid office time.\\n\\nRemote work isn't just a change of address. It's a shift in mindset from \\\"Hours Worked\\\" to \\\"Value Created.\\\"\\n\\nIf you're a leader, stop tracking keystrokes. Start tracking output.\\n\\nWho else has found their best rhythm outside the 9-5? 👇\\n\\n#RemoteWork #FutureOfWork #Productivity #MentalHealth #Leadership\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1168,1264],"id":"25381c44-e96f-4f75-b0a9-1aba48aa08a2","name":"Parser: Text JSON"},{"parameters":{"assignments":{"assignments":[{"id":"00def7dc-4d1d-4337-8c0f-b4fe2ac23533","name":"content_bucket","value":"={{ $('Loop: Text Items').item.json.content_bucket }}","type":"string"},{"id":"3bbe7d6f-4c61-468c-9f8d-bec6031754d0","name":"output.subtype","value":"={{ $('Loop: Text Items').item.json.type }}-{{ $json.output.subtype }}","type":"string"},{"id":"5c4b3d9c-0af4-4912-a8eb-dea3f78f8123","name":"output.platform","value":"={{ $json.output.platform }}","type":"string"},{"id":"05d31b18-6005-4cb4-89f8-8dddd94a389c","name":"media_type","value":"={{ $('Loop: Text Items').item.json.media_type }}","type":"string"},{"id":"cde72c0c-17b8-45ee-9941-62c7a6ed5bb1","name":"output.title","value":"={{ $json.output.title }}","type":"string"},{"id":"e33ea34d-2220-4396-a35e-1b616006470d","name":"output.post_body","value":"={{ $json.output.post_body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,1040],"id":"e38964c1-792a-4349-b323-6a0526e323b8","name":"Set: Text Data"},{"parameters":{"jsCode":"// Each n8n item already represents one object from the array\nconst item = $json;\n\n// Safely extract output\nconst out = item.output ?? {};\n\n// Build one row for Zoho Sheets\nconst row = {\n  Content_Bucket: item.content_bucket ?? \"\",\n  Subtype: out.subtype ?? \"\",\n  Platform: out.platform ?? \"\",\n  Media_Type: item.media_type ?? \"\",\n  Title: out.title ?? \"\",\n  Post_Body: out.post_body ?? \"\"\n};\n\n// Zoho expects an array of records\nconst rows = [row];\n\n// Convert rows to JSON string\nconst jsonString = JSON.stringify(rows);\n\n// URL encode for Zoho API\nconst encoded = encodeURIComponent(jsonString);\n\n// Return final payload\nreturn {\n  json: {\n    json_data: encoded\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,1040],"id":"72ce3ae7-0c20-4d58-8fae-d6ffb325ee8a","name":"Format: Text Sheet Row"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=text_post_approval&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,1040],"id":"f547e81a-940f-4677-9d8e-983d290da879","name":"Log: Text Output"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2064,1168],"id":"a17045ff-a892-4694-8107-dd0cf62c856c","name":"Wait: Text Loop","webhookId":"376fb3f7-49ca-4c18-9c95-cf85f17979dc"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,1760],"id":"50e9e28d-e26c-4c3e-998f-1643eb1a2a7a","name":"Loop: PDF Items"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[896,1952],"id":"b7259841-f15d-457f-a35e-0f4db7d68b26","name":"Model: Gemini (PDF)"},{"parameters":{"jsonSchemaExample":"{\n  \"DOCUMENT_TITLE\": \"Efficient Nutrition: The Modern Guide to Healthy Egg Salad\",\n  \"DOCUMENT_BODY\": \"In high-performance environments, maintaining a balanced diet often falls victim to demanding schedules. However, strategic meal preparation can bridge the gap between time scarcity and nutritional needs. The humble egg salad, when reimagined with nutrient-dense ingredients, serves as a cornerstone for efficient weekly planning.\\n\\nREDEFINING THE INGREDIENTS\\n\\nThe key to a high-value meal lies in ingredient selection. We are moving away from heavy, traditional binders to create a lighter, functional dish:\\n- Proteins: Start with perfectly boiled eggs for a complete amino acid profile.\\n- Binders: Substitute mayonnaise with Greek yogurt for protein or avocado for healthy fats.\\n- Aromatics: Use fresh dill, chives, or parsley to elevate the flavor profile without adding calories.\\n\\nTHE TWO-MINUTE ASSEMBLY PROTOCOL\\n\\nEfficiency is paramount. While boiling requires lead time, the active assembly should take no more than two minutes. The workflow is simple:\\n- Pre-prep: Boil and peel eggs in advance.\\n- Mash: Use a potato masher for a quick, rustic texture.\\n- Combine: Mix the binder with mustard and spices before folding in the eggs to maintain texture.\\n\\nSTORAGE AND VERSATILITY\\n\\nTo ensure this asset lasts through the work week, store it in airtight containers at 40 degrees Fahrenheit or below. It remains fresh for 3-5 days, offering diverse serving options:\\n- As a high-protein topper for greens.\\n- Inside stuffed avocados for a keto-friendly option.\\n- Traditional wraps using whole-grain or lettuce alternatives.\",\n  \"SOCIAL_CAPTION\": \"Stop sacrificing nutrition for speed. ⏱️ We’ve re-engineered the classic egg salad into a high-protein, 2-minute power meal perfect for your busiest weeks. Get the full recipe and storage hacks below.\\n\\n#MealPrep #HealthyEating #ProductivityHacks #CleanEating #Nutrition\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1072,1952],"id":"7924d339-5982-4318-b28d-666d8fc0b176","name":"Parser: PDF JSON"},{"parameters":{"content":"##  PHASE 3: Image Factory\n**Goal:** Create, brand, and save visuals.\n\n**Process:**\n1. **Prompting:** AI describes the image (Style: \"Clean digital illustration\").\n2. **Generation:** Gemini creates the actual image.\n3. **Branding:** System downloads your Logo and composites it onto the image.\n4. **Storage:** Uploads final PNG to Zoho WorkDrive.\n\n**Example:**\n*Prompt:* \"Stylized geometric apple icon, orange background.\"\n*Result:* A branded PNG file.","height":720,"width":3984,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"1048a4ad-66db-4398-bbf5-05fb40a32837","name":"Sticky Note4"},{"parameters":{"content":"## PHASE 4: Copywriting Studio\n**Goal:** Write platform-native text.\n\n**Process:**\nThe AI Agent looks at the **Platform** and **Audience** to write the perfect caption.\n\n**Style Rules:**\n* **LinkedIn:** Professional, spacing, insights.\n* **Instagram:** Casual, aesthetic, hashtags.\n* **Twitter/X:** Punchy, short threads.\n\n**Example:**\n*Idea:* \"Save Money.\"\n*LinkedIn Output:* \"Financial literacy is a leadership skill...\"\n*Insta Output:* \"Stop overspending today! 💸 #BudgetHacks\"","height":576,"width":2064,"color":5},"type":"n8n-nodes-base.stickyNote","position":[256,800],"typeVersion":1,"id":"fe9142e2-4b62-464e-952d-a5d07e0b4a07","name":"Sticky Note5"},{"parameters":{"content":"## PHASE 5: Document Generator\n**Goal:** Create downloadable PDFs (Carousels/Lead Magnets).\n\n**Process:**\n1. **Drafting:** AI writes a full HTML article/checklist with CSS styling.\n2. **Conversion:** Puppeteer converts that HTML code into a real PDF file.\n\n**Used For:**\n* LinkedIn Carousels (PDF uploads)\n* Downloadable Lead Magnets\n* Step-by-step Guides","height":688,"width":3952,"color":5},"type":"n8n-nodes-base.stickyNote","position":[176,1488],"typeVersion":1,"id":"c231d9ff-63d1-4645-b501-31f9a168e361","name":"Sticky Note7"},{"parameters":{"promptType":"define","text":"=Generate a professional document and social caption based on these details:\n\nContext:\n- Idea: {{ $json.idea }}\n- Content Type: {{ $json.contentType }}\n- Subtype: {{ $json.subtype }}\n- Audience: {{ $json.target_audience }}\n- Tone: {{ $json.content_bucket }}\n\nInstructions:\n1. DOCUMENT_TITLE: Create a compelling, professional title.\n2. DOCUMENT_BODY: Write the full content. It must be structured logically for the specific Content Type provided. Ensure it is ready to copy-paste directly into a CMS or document editor without needing to remove \"template\" words.\n3. SOCIAL_CAPTION: Write a catchy caption summarizing the value.\n\nReturn ONLY the JSON.","hasOutputParser":true,"options":{"systemMessage":"=You are an expert content strategist and professional writer. Your goal is to generate a polished, ready-to-publish document and a high-impact social media caption.\n\nSTRICT OUTPUT RULES:\n1. Return ONLY valid JSON.\n2. The JSON object must contain exactly three keys: \"DOCUMENT_TITLE\", \"DOCUMENT_BODY\", and \"SOCIAL_CAPTION\".\n3. NO HTML tags allowed. Use \"\\n\" for line breaks.\n4. NO Markdown symbols (Do not use #, ##, or **). Formatting must be text-only.\n\nFORMATTING RULES (Visual Text Style):\nTo ensure the document is \"ready to paste,\" follow these style guides:\n- HEADINGS: Write major section headings in ALL CAPS to distinguish them visually, but keep them specific to the content.\n- LISTS: Use a simple dash \"- \" for bullet points.\n- SPACING: Use double newlines (\"\\n\\n\") between paragraphs for clean readability.\n\nTONE & STYLE:\n- Write in a sophisticated, human voice. Avoid robotic transitions.\n- The document should feel like a finished draft, not an outline.\n- The \"SOCIAL_CAPTION\" must be engaging, concise, and include 3-5 relevant hashtags."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[912,1792],"id":"5522c12b-5eb7-4d0f-8570-25f4b851d9af","name":"Agent: Content Gen","retryOnFail":true,"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"981f5887-8eca-40e2-a3bb-8a6e051c264a","leftValue":"={{ $json.status }}","rightValue":"=completed","operator":{"type":"string","operation":"equals"}},{"id":"a65fe7be-070d-4394-9369-d80c49f4e3a2","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2128,1808],"id":"96409de5-1d93-4a76-992b-b01be6486010","name":"If"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,1808],"id":"b189dca4-9640-4d24-ae13-bfb9f9fb75f4","name":"Wait1","webhookId":"4b144fac-1ec4-4544-9758-1e007db561aa"},{"parameters":{"method":"POST","url":"https://writer.zoho.in/writer/api/v1/documents/rvdm50ac513ed650544108f4220d12710ebc3/incomingwebhook/mergewithpresets?auth_type=apikeyauth&encapiKey=PHtE6L0FELzoiDYr8kIF4%2FG6F5SlM45%2F%2Frk2KFZGttlLCP4EG01cro0pmjDm%2Bhx%2BB6FDEvTIwNlosr6bu%2ByFcGm%2BZGlFCGqyqK3sx%2FVYSPOZr%2Fb9gBtC8Qh1dgzeB8SAL9Yq3CA%3D","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"merge_data\": {\n    \"data\": [\n      {\n        \"DOCUMENT_TITLE\": \"{{ $json.DOCUMENT_TITLE }}\",\n        \"DOCUMENT_BODY\": \"{{ $json.DOCUMENT_BODY }}\"\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1472,1808],"id":"0f27bba8-8608-453b-8cf2-05e8b04aa5e8","name":"Writer: Create Doc"},{"parameters":{"url":"={{ $json.merge_report_data_url }}","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1920,1808],"id":"f7bb6b2e-1f00-44dc-92c5-016524320920","name":"Writer: Check Status"},{"parameters":{"url":"=https://www.zohoapis.in/writer/api/v1/documents/{{ $json.records[0].document_id }}","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"pdf"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=data"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2416,1792],"id":"00ecb109-df39-459e-af1f-3190683bfbe7","name":"Writer: Download PDF"},{"parameters":{"jsCode":"const input = $input.first().json.output;\n\nconst title = String(input.DOCUMENT_TITLE || '').trim();\n\n// Convert entire body into a single-line, JSON-safe string\nconst body = JSON.stringify(\n  String(input.DOCUMENT_BODY || '').trim()\n).slice(1, -1); // remove surrounding quotes added by stringify\n\nreturn [\n  {\n    DOCUMENT_TITLE: title,\n    DOCUMENT_BODY: body\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1792],"id":"2fc6449a-4944-4314-bd2a-5ed6aaaa32ff","name":"Format: Clean Content"},{"parameters":{"method":"POST","url":"https://www.zohoapis.in/workdrive/api/v1/upload","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"parent_id","value":"2s09814ade65750ac4a0c929480197765fd7d"},{"name":"filename","value":"={{ $('Loop: PDF Items').item.json.contentType }}_{{ $('Loop: PDF Items').item.json.subtype }}_{{ $('Loop: PDF Items').item.json.platform }}_{{ $('Loop: PDF Items').item.json.type }}_{{ $now.format(\"yyyyMMdd_HHmmss\") }}.pdf\n"},{"parameterType":"formBinaryData","name":"content","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2656,1792],"id":"8b8970d1-aa04-4d53-8859-a3c34d2920af","name":"Drive: Upload PDF","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"d54d031e-9880-4c82-9d0f-4641f82382a9","name":"data[0].attributes.FileName","value":"={{ $json.data[0].attributes.FileName }}","type":"string"},{"id":"d33a5c1b-2e6e-4064-9c5c-02633e6c2def","name":"data[0].attributes.resource_id","value":"={{ $json.data[0].attributes.resource_id }}","type":"string"},{"id":"beecdc7a-2f15-4dc1-8bfa-c61c46e3a89d","name":"=data[0].attributes.Permalink","value":"={{ $json.data[0].attributes.Permalink }}","type":"string"},{"id":"9085c6b9-2276-40c7-8bfa-bb478c1e19f8","name":"output.type","value":"={{ $('Loop: PDF Items').item.json.contentType }}","type":"string"},{"id":"11324404-ef77-4b24-889a-818b34595ae8","name":"output.subtype","value":"={{ $('Loop: PDF Items').item.json.subtype }}","type":"string"},{"id":"78251b78-ed81-4c46-8221-039e00b37e39","name":"output.platform","value":"={{ $('Loop: PDF Items').item.json.platform }}","type":"string"},{"id":"1690551f-01b6-4e02-9065-03d86333a6be","name":"output.caption","value":"={{ $('Agent: Content Gen').item.json.output.SOCIAL_CAPTION }}","type":"string"},{"id":"8910c59d-1da0-4de9-8d43-13faf9b9192b","name":"idea","value":"={{ $('Limit3').item.json.idea }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3104,1792],"id":"73d55ba6-0fea-4169-aeea-e5feb1d9400d","name":"Set:doc Data"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=document_post_approval&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3552,1792],"id":"1337cd22-d541-4d03-bb0e-6656957ee50c","name":"Sheet: Log Record"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2880,1792],"id":"1f618c58-08da-45a2-b97d-976a8ed7fd37","name":"Wait: Upload Buffer Of Doc","webhookId":"e24973a8-6403-4fff-8591-b303ba872e37"},{"parameters":{"jsCode":"// Safely extract main objects\nconst item = $json || {};\nconst out = item.output || {};\nconst fileAttr = item.data?.[0]?.attributes || {};\n\n// Build one row for Zoho Sheets\nconst row = {\n  Type: out.type || \"\",\n  Subtype: out.subtype || \"\",\n  Platform: out.platform || \"\",\n  Caption: out.caption || \"\",\n  Idea: item.idea || \"\",\n  FileName: fileAttr.FileName || \"\",\n  Resource_ID: fileAttr.resource_id || \"\",\n  Permalink: fileAttr.Permalink || \"\"\n};\n\n// Zoho expects an array of records\nconst rows = [row];\n\n// Convert to JSON string\nconst jsonString = JSON.stringify(rows);\n\n// URL encode for Zoho API\nconst encoded = encodeURIComponent(jsonString);\n\n// Return final payload\nreturn {\n  json: {\n    json_data: encoded\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,1792],"id":"f8dde46b-8a1a-4679-a6c5-d2d314c07923","name":"Format:Documnet Sheet Row"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3744,1904],"id":"e06bddcf-381c-42de-a87e-13756692547b","name":"Wait: Document Loop","webhookId":"1969989f-b23d-4948-bb74-7a62566abf3b"}],"connections":{"Parsing 10 ideas":{"ai_outputParser":[[{"node":"Agent to Generate Ideas","type":"ai_outputParser","index":0}]]},"parsing best 3 ideas":{"ai_outputParser":[[{"node":"Screen Top Ideas (3/10)","type":"ai_outputParser","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Getting Content Bucket","type":"main","index":0}]]},"Getting Content Bucket":{"main":[[{"node":"All Catagory we have","type":"main","index":0}]]},"All Catagory we have":{"main":[[{"node":"Make Category into List","type":"main","index":0}]]},"Make Category into List":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Loop Over The Category":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Agent to Generate Ideas","type":"main","index":0}]]},"Agent to Generate Ideas":{"main":[[{"node":"Converting the Ideas in to Array","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agent to Generate Ideas","type":"ai_languageModel","index":0},{"node":"Screen Top Ideas (3/10)","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent to Generate Ideas","type":"ai_tool","index":0}]]},"Converting the Ideas in to Array":{"main":[[{"node":"Screen Top Ideas (3/10)","type":"main","index":0}]]},"Screen Top Ideas (3/10)":{"main":[[{"node":"Top3 Into An Arrray","type":"main","index":0}]]},"Top3 Into An Arrray":{"main":[[{"node":"Adding Top 3 Ideas into Sheets","type":"main","index":0}]]},"Adding Top 3 Ideas into Sheets":{"main":[[{"node":"Wait: API Buffer","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop: Text Items","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Loop Over The Category","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Fetch Ideas (Zoho)","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"Loop: PDF Items","type":"main","index":0}]]},"Fetch Ideas (Zoho)":{"main":[[{"node":"Filter: Approved Ideas","type":"main","index":0}]]},"Filter: Approved Ideas":{"main":[[{"node":"Config: Platform Standards","type":"main","index":0}]]},"Config: Platform Standards":{"main":[[{"node":"Flatten Config Object","type":"main","index":0}]]},"Flatten Config Object":{"main":[[{"node":"Merge Ideas & Config","type":"main","index":0}]]},"Merge Ideas & Config":{"main":[[{"node":"Filter: Text Tasks","type":"main","index":0},{"node":"Filter: Image Tasks","type":"main","index":0},{"node":"Filter: PDF Tasks","type":"main","index":0}]]},"Wait: API Buffer":{"main":[[{"node":"Loop Over The Category","type":"main","index":0}]]},"Filter: Image Tasks":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Filter: Text Tasks":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Filter: PDF Tasks":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Loop: Image Items":{"main":[[],[{"node":"Agent: Image Prompt","type":"main","index":0}]]},"Agent: Image Prompt":{"main":[[{"node":"Check: Prompt Exists","type":"main","index":0}]]},"Model: Gemini (Image)":{"ai_languageModel":[[{"node":"Agent: Image Prompt","type":"ai_languageModel","index":0}]]},"Parser: Image JSON":{"ai_outputParser":[[{"node":"Agent: Image Prompt","type":"ai_outputParser","index":0}]]},"Check: Prompt Exists":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}],[{"node":"Gen: Create Image","type":"main","index":0}]]},"Gen: Create Image":{"main":[[{"node":"Download Logo","type":"main","index":0}]]},"Download Logo":{"main":[[{"node":"Get Image Metadata","type":"main","index":0}]]},"Get Image Metadata":{"main":[[{"node":"Check: File Valid","type":"main","index":0}]]},"Check: File Valid":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}],[{"node":"Resize Logo","type":"main","index":0}]]},"Resize Logo":{"main":[[{"node":"Composite: Add Logo","type":"main","index":0}]]},"Composite: Add Logo":{"main":[[{"node":"Upload to WorkDrive","type":"main","index":0}]]},"Upload to WorkDrive":{"main":[[{"node":"Wait: Upload Buffer","type":"main","index":0}]]},"Set: Image Data":{"main":[[{"node":"Format: Image Sheet Row","type":"main","index":0}]]},"Format: Image Sheet Row":{"main":[[{"node":"Log: Image Output","type":"main","index":0}]]},"Log: Image Output":{"main":[[{"node":"Wait: Image Loop","type":"main","index":0}]]},"Wait: Image Loop":{"main":[[{"node":"Loop: Image Items","type":"main","index":0}]]},"Wait: Upload Buffer":{"main":[[{"node":"Set: Image Data","type":"main","index":0}]]},"Loop: Text Items":{"main":[[],[{"node":"Agent: Text Post","type":"main","index":0}]]},"Agent: Text Post":{"main":[[{"node":"Set: Text Data","type":"main","index":0}]]},"Model: Gemini (Text)":{"ai_languageModel":[[{"node":"Agent: Text Post","type":"ai_languageModel","index":0}]]},"Parser: Text JSON":{"ai_outputParser":[[{"node":"Agent: Text Post","type":"ai_outputParser","index":0}]]},"Set: Text Data":{"main":[[{"node":"Format: Text Sheet Row","type":"main","index":0}]]},"Format: Text Sheet Row":{"main":[[{"node":"Log: Text Output","type":"main","index":0}]]},"Log: Text Output":{"main":[[{"node":"Wait: Text Loop","type":"main","index":0}]]},"Wait: Text Loop":{"main":[[{"node":"Loop: Text Items","type":"main","index":0}]]},"Loop: PDF Items":{"main":[[],[{"node":"Agent: Content Gen","type":"main","index":0}]]},"Model: Gemini (PDF)":{"ai_languageModel":[[{"node":"Agent: Content Gen","type":"ai_languageModel","index":0}]]},"Parser: PDF JSON":{"ai_outputParser":[[{"node":"Agent: Content Gen","type":"ai_outputParser","index":0}]]},"Agent: Content Gen":{"main":[[{"node":"Format: Clean Content","type":"main","index":0}]]},"If":{"main":[[{"node":"Writer: Download PDF","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Writer: Check Status","type":"main","index":0}]]},"Writer: Create Doc":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Writer: Check Status":{"main":[[{"node":"If","type":"main","index":0}]]},"Writer: Download PDF":{"main":[[{"node":"Drive: Upload PDF","type":"main","index":0}]]},"Format: Clean Content":{"main":[[{"node":"Writer: Create Doc","type":"main","index":0}]]},"Drive: Upload PDF":{"main":[[{"node":"Wait: Upload Buffer Of Doc","type":"main","index":0}]]},"Set:doc Data":{"main":[[{"node":"Format:Documnet Sheet Row","type":"main","index":0}]]},"Sheet: Log Record":{"main":[[{"node":"Wait: Document Loop","type":"main","index":0}]]},"Wait: Upload Buffer Of Doc":{"main":[[{"node":"Set:doc Data","type":"main","index":0}]]},"Format:Documnet Sheet Row":{"main":[[{"node":"Sheet: Log Record","type":"main","index":0}]]},"Wait: Document Loop":{"main":[[{"node":"Loop: PDF Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b39c66f9-652b-4d10-9039-b12234f1225a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T12:41:30.008Z","createdAt":"2026-03-04T12:41:30.008Z","role":"workflow:owner","workflowId":"0BvMpDsaJziUvNab","projectId":"bj48yuVkPnuVkndV"}],"activeVersion":null,"tags":[]}