data-base-chatbot-4QImv5jB820rJjPn.json
{"updatedAt":"2026-04-17T15:41:46.155Z","createdAt":"2026-04-10T05:37:49.380Z","id":"4QImv5jB820rJjPn","name":"Data Base ChatBot","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-704,-112],"id":"1fb89a2e-7e62-4aff-8bba-7b728674972c","name":"When chat message received","webhookId":"250504d2-3eb5-4b27-9f0c-6812bb66a4b9"},{"parameters":{"descriptionType":"manual","toolDescription":"Executes a raw SQL SELECT query on the PostgreSQL database. You MUST pass the exact SQL query as the 'query' parameter. Always use standard PostgreSQL syntax. Return only the data.","operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for PostgreSQL DB in Supabase\") }}","options":{}},"id":"747becf9-42c7-4647-8d3f-64d091da4ee9","name":"Run SQL Query1","type":"n8n-nodes-base.postgresTool","position":[-112,128],"typeVersion":2.5,"credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"options":{"systemMessage":"You are an expert financial assistant. Your job is to answer questions by querying a PostgreSQL database.\n\nDatabase Schema:\nTable 1: payments (Expenses)\n\ntransaction_date (Date YYYY-MM-DD)\n\nname (Text, vendor)\n\nhead (Text, expense category like 'ADVANCE', 'GROCERIES')\n\namount (Numeric)\n\npayment_mode (Text, e.g., 'CASH', 'HDFC')\n\nTable 2: receipts (Income)\n\ntransaction_date (Date YYYY-MM-DD)\n\nname (Text)\n\nhead (Text, income category like 'Hotel Receipts')\n\namount (Numeric)\n\npayment_mode (Text, e.g., 'CASH', 'UPI')\n\nStrict Rules:\n\nNever guess. If you don't know, say \"I cannot find data for that.\"\n\nUse SUM() and GROUP BY when asked for totals.\n\nIf the user asks about \"expenses\", query payments. If they ask about \"income\" or \"receipts\", query receipts.\n\nDo not show the raw SQL to the user. Format amounts with the ₹ symbol.","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-368,-128],"id":"a1ea5b97-9ee6-46b5-9453-a27808c78e7a","name":"AI Agent2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-288,128],"id":"304e3c0e-a8b3-4006-8a74-615612247701","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-448,144],"id":"044b1e0d-27c5-4e68-a5f0-59d3eb56defa","name":"Groq Chat Model","credentials":{"groqApi":{"id":"nOWWyPljq3QHYvaE","name":"Groq account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Run SQL Query1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1ff6abd-9eb4-4406-b737-4d9d504fffe8","activeVersionId":"9e8256b2-6f97-4db2-b10f-009d7f2f1f88","triggerCount":1,"shared":[{"updatedAt":"2026-04-10T05:37:49.386Z","createdAt":"2026-04-10T05:37:49.386Z","role":"workflow:owner","workflowId":"4QImv5jB820rJjPn","projectId":"bj48yuVkPnuVkndV"}],"activeVersion":{"updatedAt":"2026-04-10T18:03:56.000Z","createdAt":"2026-04-10T18:03:54.012Z","versionId":"9e8256b2-6f97-4db2-b10f-009d7f2f1f88","workflowId":"4QImv5jB820rJjPn","nodes":[{"parameters":{"public":true,"options":{"responseMode":"streaming"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[192,272],"id":"1fb89a2e-7e62-4aff-8bba-7b728674972c","name":"When chat message received","webhookId":"250504d2-3eb5-4b27-9f0c-6812bb66a4b9"},{"parameters":{"descriptionType":"manual","toolDescription":"Run custom SQL queries using knowledge about Output structure to provide needed response for user request.\nUse ->> operator to extract JSON data.","operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for PostgreSQL DB in Supabase\") }}","options":{}},"id":"b5caa8f3-bdae-440e-bbbd-135cc7e3f341","name":"Run SQL Query","type":"n8n-nodes-base.postgresTool","position":[-512,560],"typeVersion":2.5,"credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{}},"id":"624b92fe-1610-4d39-8b8e-5ad8e5fd9d38","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[80,-16],"typeVersion":1.6},{"parameters":{"options":{"systemMessage":"You are an expert financial assistant. Your job is to answer questions by querying a PostgreSQL database.\n\nDatabase Schema:\nTable 1: payments (Expenses)\n\ntransaction_date (Date YYYY-MM-DD)\n\nname (Text, vendor)\n\nhead (Text, expense category like 'ADVANCE', 'GROCERIES')\n\namount (Numeric)\n\npayment_mode (Text, e.g., 'CASH', 'HDFC')\n\nTable 2: receipts (Income)\n\ntransaction_date (Date YYYY-MM-DD)\n\nname (Text)\n\nhead (Text, income category like 'Hotel Receipts')\n\namount (Numeric)\n\npayment_mode (Text, e.g., 'CASH', 'UPI')\n\nStrict Rules:\n\nNever guess. If you don't know, say \"I cannot find data for that.\"\n\nUse SUM() and GROUP BY when asked for totals.\n\nIf the user asks about \"expenses\", query payments. If they ask about \"income\" or \"receipts\", query receipts.\n\nDo not show the raw SQL to the user. Format amounts with the ₹ symbol."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-672,272],"id":"2e306068-6cd0-4019-aaca-2f8b7146c1ae","name":"AI Agent"},{"parameters":{"descriptionType":"manual","toolDescription":"Get list of all tables in database","operation":"executeQuery","query":"SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-400,544],"id":"50f748f4-e7ed-4638-8dcb-24a4e4f6831a","name":"DB Schema","credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get table definition to find all columns and types.","operation":"executeQuery","query":"SELECT \n    c.column_name,\n    c.data_type,\n    c.is_nullable,\n    c.column_default,\n    tc.constraint_type,\n    ccu.table_name AS referenced_table,\n    ccu.column_name AS referenced_column\nFROM \n    information_schema.columns c\nLEFT JOIN \n    information_schema.key_column_usage kcu \n    ON c.table_name = kcu.table_name \n    AND c.column_name = kcu.column_name\nLEFT JOIN \n    information_schema.table_constraints tc \n    ON kcu.constraint_name = tc.constraint_name\n    AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN\n    information_schema.constraint_column_usage ccu\n    ON tc.constraint_name = ccu.constraint_name\nWHERE \n    c.table_name = '{{ $fromAI(\"table_name\") }}' -- Your table name\n    AND c.table_schema = 'public' -- Ensure it's in the right schema\nORDER BY \n    c.ordinal_position;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-288,560],"id":"75650d7c-c336-4d90-8559-24dc7267c6b2","name":"Get table definition","credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-656,544],"id":"a498c253-2493-4938-920f-075a2ae4ec65","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"model":"qwen/qwen-2.5-72b-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-800,528],"id":"de73fd8d-b9d0-4e6d-b095-0e6daed95249","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"C7t40aOoVqpA80cQ","name":"OpenRouter account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Executes a raw SQL SELECT query on the PostgreSQL database. You MUST pass the exact SQL query as the 'query' parameter. Always use standard PostgreSQL syntax. Return only the data.","operation":"executeQuery","query":"{{ $fromAI(\"query\",\"SQL query for PostgreSQL DB in Supabase\") }}","options":{}},"id":"747becf9-42c7-4647-8d3f-64d091da4ee9","name":"Run SQL Query1","type":"n8n-nodes-base.postgresTool","position":[784,512],"typeVersion":2.5,"credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"options":{"systemMessage":"You are an expert financial assistant. Your job is to answer questions by querying a PostgreSQL database.\n\nDatabase Schema:\nTable 1: payments (Expenses)\n\ntransaction_date (Date YYYY-MM-DD)\n\nname (Text, vendor)\n\nhead (Text, expense category like 'ADVANCE', 'GROCERIES')\n\namount (Numeric)\n\npayment_mode (Text, e.g., 'CASH', 'HDFC')\n\nTable 2: receipts (Income)\n\ntransaction_date (Date YYYY-MM-DD)\n\nname (Text)\n\nhead (Text, income category like 'Hotel Receipts')\n\namount (Numeric)\n\npayment_mode (Text, e.g., 'CASH', 'UPI')\n\nStrict Rules:\n\nNever guess. If you don't know, say \"I cannot find data for that.\"\n\nUse SUM() and GROUP BY when asked for totals.\n\nIf the user asks about \"expenses\", query payments. If they ask about \"income\" or \"receipts\", query receipts.\n\nDo not show the raw SQL to the user. Format amounts with the ₹ symbol.","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[528,256],"id":"a1ea5b97-9ee6-46b5-9453-a27808c78e7a","name":"AI Agent2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[608,512],"id":"304e3c0e-a8b3-4006-8a74-615612247701","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"G4Z3mevohc2oRML9","name":"Postgres account"}}},{"parameters":{"model":"qwen/qwen-2.5-72b-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[32,736],"id":"2d2ae95a-0616-4fa8-9070-39a34a0f68bd","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"C7t40aOoVqpA80cQ","name":"OpenRouter account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[448,528],"id":"044b1e0d-27c5-4e68-a5f0-59d3eb56defa","name":"Groq Chat Model","credentials":{"groqApi":{"id":"nOWWyPljq3QHYvaE","name":"Groq account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Run SQL Query":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DB Schema":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get table definition":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Run SQL Query1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]}},"authors":"Ajay Chanumolu","name":"Version 9e8256b2","description":"","autosaved":true},"tags":[]}