final_test-5jqNpXANfYRBBI5B.json
{"updatedAt":"2026-04-29T14:43:49.887Z","createdAt":"2026-03-02T16:55:53.205Z","id":"5jqNpXANfYRBBI5B","name":"FINAL_TEST","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Tips\",\n  \"ideas\": [\"Add lemon juice to egg salad.\",\"Use Greek yogurt instead of mayo.\"],\n  \"topic\": \"Egg Salad\",\n  \"content_bucket\": \"Healthy Eating\",\n  \"target_audience\": \"College students\"\n}"},"id":"b0deb487-e0fd-4f99-a12c-d02ac64758c1","name":"Parsing 10 ideas","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2128,1168]},{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Tips\",\n  \"ideas\": [\"Add lemon juice to egg salad.\",\"Use Greek yogurt instead of mayo.\"],\n  \"topic\": \"Egg Salad\",\n  \"content_bucket\": \"Healthy Eating\",\n  \"target_audience\": \"College students\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1632,1168],"id":"bba2b41d-8ac4-47b7-a8f7-abbe3957f6a7","name":"parsing best 3 ideas"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.records.fetch&worksheet_name=top_3_ideas&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,640],"id":"8c9a5973-6c4e-4867-acf9-9f69a145340a","name":"getting all ideas from the sheets"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1632,640],"id":"31e82c9c-398b-42b7-8181-dcbe6373a0f0","name":"Loop Over Items28"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Infographic\": {\n    \"Educational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Inspirational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Promotions\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Conversational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    },\n    \"Entertainment\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1600, \"height_px\": 900 } },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"YouTube\": { \"type\": \"Community Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 800 } },\n      \"Blogs\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 628 } },\n      \"Quora\": { \"type\": \"Image (inside answer)\", \"media_type\": \"image\", \"size\": { \"width_px\": 700, \"height_px\": 394 } },\n      \"Reddit\": { \"type\": \"Image Post\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"WhatsApp\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Email Marketing\": { \"type\": \"Image + CTA\", \"media_type\": \"image\", \"size\": { \"width_px\": 600, \"height_px\": 800 } }\n    }\n  },\n  \"Blog\": {\n    \"Listicles\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Detailed Explanation\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Step-by-Step Guide\": {\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\" },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\" },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Twitter (X)\": { \"type\": \"Thread\", \"media_type\": \"text\" },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\" },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\" },\n      \"Email Marketing\": { \"type\": \"Newsletter\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    }\n  },\n  \"Video\": {\n    \"Education\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Promotion\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Testimonial\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Engagement\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Short\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube_Long\": { \"type\": \"Long Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"LinkedIn\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"Blogs\": { \"type\": \"Embedded Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    }\n  },\n  \"Testimonial\": {\n    \"Quote\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Quora\": { \"type\": \"Text Answer\", \"media_type\": \"text\", \"size\": null },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Unstructured\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Reddit\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    },\n    \"Audio\": {\n      \"Instagram\": { \"type\": \"Video (Reel)\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Facebook\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"YouTube\": { \"type\": \"Short\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } },\n      \"Website\": { \"type\": \"Video Embed\", \"media_type\": \"video\", \"size\": { \"width_px\": 1920, \"height_px\": 1080 } },\n      \"WhatsApp\": { \"type\": \"Video\", \"media_type\": \"video\", \"size\": { \"width_px\": 1080, \"height_px\": 1920 } }\n    },\n    \"Review\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Twitter (X)\": { \"type\": \"Text Post\", \"media_type\": \"text\", \"size\": null },\n      \"LinkedIn\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"Website\": { \"type\": \"Text Section\", \"media_type\": \"text\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"Text Email\", \"media_type\": \"html\", \"size\": { \"width_px\": 600 } }\n    }\n  },\n  \"Lead Magnets\": {\n    \"Educational\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Solution Based\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Community Building\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Entertaining\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    },\n    \"Promotional\": {\n      \"Instagram\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1080, \"height_px\": 1350 } },\n      \"Facebook\": { \"type\": \"Image\", \"media_type\": \"image\", \"size\": { \"width_px\": 1200, \"height_px\": 1200 } },\n      \"LinkedIn\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": { \"width_px\": 1080, \"height_px\": 1080 } },\n      \"Website\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Blogs\": { \"type\": \"Text Article\", \"media_type\": \"text\", \"size\": null },\n      \"WhatsApp\": { \"type\": \"Document\", \"media_type\": \"pdf\", \"size\": null },\n      \"Email Marketing\": { \"type\": \"PDF Attachment\", \"media_type\": \"pdf\", \"size\": null }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,640],"id":"626dd690-d4f1-498f-91bd-b07df93b8203","name":"Edit Fields35"},{"parameters":{"jsCode":"// Handle the JSON whether it's array or object\nlet input = $json;\n\n// If the input is an array, use the first element\nif (Array.isArray(input)) {\n  input = input[0];\n}\n\n// Safety check\nif (!input || !input.records || !Array.isArray(input.records)) {\n  return [];\n}\n\nconst items = [];\n\nfor (const r of input.records) {\n  if (String(r.Approval).toLowerCase() === \"yes\") {\n\n    // Split target audience into clean array\n    const targetAudienceArray = r.Target_Audience\n      ? r.Target_Audience.split(\",\").map(a => a.trim())\n      : [];\n\n    // Build tags\n    const tags = [\n      ...(r.Category ? [r.Category] : []),\n      ...(r.Content_Bucket ? [r.Content_Bucket] : []),\n      ...targetAudienceArray\n    ];\n\n    items.push({\n      json: {\n        idea: r.Idea,\n        category: r.Category || null,\n        content_bucket: r.Content_Bucket || null,\n        target_audience: targetAudienceArray,\n        tags: tags\n      }\n    });\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,640],"id":"817c06ca-f726-4414-84f5-6541457fbcaa","name":"taking only approved ideas"},{"parameters":{"jsCode":"const config = $json; // your master config JSON\nconst out = [];\n\nfor (const contentType in config) {\n  for (const subtype in config[contentType]) {\n    for (const platform in config[contentType][subtype]) {\n      const data = config[contentType][subtype][platform];\n\n      out.push({\n        contentType,\n        subtype,\n        platform,\n        type: data.type,\n        media_type: data.media_type,\n        size: data.size\n      });\n    }\n  }\n}\n\nreturn out.map(x => ({ json: x }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,640],"id":"49e0eb5c-5492-4beb-adcd-f59f1a5c157a","name":"Code in JavaScript18"},{"parameters":{"promptType":"define","text":"=You will receive structured input from n8n. Input:\n\nIdea: {{ $json.idea }}\n\nSubtype: {{ $json.subtype }}\n\nPlatform: {{ $json.platform }}\n\nSize: {{ $json.size.width_px }}x{{ $json.size.height_px }}\n\nTarget Audience: {{ $json.target_audience }}\n\nYour task: Create ONE JSON object containing a prompt and caption.\n\nINSTRUCTIONS FOR THE \"prompt\" FIELD:\n\nStyle Definition: Start immediately with keywords that define a clean digital style: \"Stylized digital illustration,\" \"Matte 3D render,\" \"Clean design,\" \"Adobe Illustrator aesthetic.\"\n\nSubject Description: Describe the elements as stylized icons or digital objects, not real-world items. (e.g., instead of \"a fresh apple,\" use \"a stylized, geometric apple icon\").\n\nForcing the Layout: Use strong design terms to keep the top/bottom empty: \"Vast clean negative space,\" \"Elements floating in center,\" \"Uninterrupted background field.\"\n\nBrand Colors: The background must STRICTLY use one of the following solid colors: Black (#000000), White (#FFFFFF), Grey (#40403F), Orange (#FF8C00), or Brown (#2D2017).\n\nINSTRUCTIONS FOR THE \"caption\" FIELD:\n\nHook the reader.\n\nExplain the idea simply and engagingly.\n\nAdd 10-15 relevant hashtags.\n\nFINAL OUTPUT JSON STRUCTURE (Return ONLY this): { \"type\": \"{{ $json.contentType }}\", \"subtype\": \"{{ $json.subtype }}\", \"platform\": \"{{ $json.platform }}\", \"media_type\": \"{{ $json.media_type }}\", \"prompt\": \"STYLE: Clean modern digital illustration, stylized 3D render with a matte finish. No photorealism. SUBJECT: [Describe centered visual elements as clean digital graphics representing {{ $json.idea }}]. COMPOSITION: Centered graphic element surrounded by vast, clean negative space. The top 30% and bottom 30% of the canvas are pure, empty background. BACKGROUND: Solid, smooth, continuous digital background color using strictly one of these brand colors: Black (#000000), White (#FFFFFF), Grey (#40403F), Orange (#FF8C00), or Brown (#2D2017). LIGHTING: Soft, even, diffused digital studio lighting.\", \"caption\": \"Your caption here...\" }","hasOutputParser":true,"options":{"systemMessage":"=You are a Senior Digital Designer specializing in high-end infographic illustrations for social media.\n\nYOUR AESTHETIC GOAL:\n- The output must look like a clean, professional digital graphic created in Adobe Photoshop/Illustrator or a stylized 3D program like Cinema 4D.\n- AVOID photorealism, gritty textures, or real-world camera effects (like depth of field or grain).\n- Aim for a \"matte finish,\" \"soft gradients,\" \"clean lines,\" and \"stylized rendering.\"\n\nCRITICAL LAYOUT RULES (Non-negotiable):\n1.  **The Vertical Center Rule:** All main visual elements must be clustered tightly in the middle 50% of the canvas.\n2.  **The Empty Zones:** The Top 20% and Bottom 20% of the image must be completely empty, clean negative space.\n3.  **The Background Rule:** The background must be one solid, continuous color or very soft, seamless gradient across the entire image. No horizon lines, no floor meeting a wall.\n\nOUTPUT FORMAT:\n- You must return a single, valid JSON object containing only the requested structure."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"43d53c2a-1228-47ac-b287-33a9a646a035","name":"AI Agent17"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image","mode":"list","cachedResultName":"models/gemini-2.5-flash-image (Nano Banana)"},"prompt":"={{ $json.output.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[576,128],"id":"7ee193b5-9bfc-4b7e-9516-d0d231ca564a","name":"Generate an image10"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1024,128],"id":"e0ef3732-d1d7-4032-9543-b0231f4deed6","name":"Edit Image5"},{"parameters":{"url":"https://download.zoho.in/v1/workdrive/download/im5rbfc1f4446f428468fb6ccc6ba3fbca678","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"logo"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[800,128],"id":"fe404c27-5528-4928-b44f-aff13cd69fe7","name":"HTTP Request5","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"operation":"resize","dataPropertyName":"logo","width":"={{ $json.size.width }}","height":"={{ $json.size.height }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1472,208],"id":"03841aff-2282-4e7e-89bb-4327a6e76426","name":"Edit Image33"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"logo","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1696,208],"id":"d66ab372-6caf-4bd7-a560-e9c9fd324663","name":"Edit Image34"},{"parameters":{"method":"POST","url":"https://www.zohoapis.in/workdrive/api/v1/upload","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"parent_id","value":"2s09814ade65750ac4a0c929480197765fd7d"},{"name":"filename","value":"={{ $('Code in JavaScript').item.json.contentType }}_{{ $('Code in JavaScript').item.json.subtype }}_{{ $('Code in JavaScript').item.json.platform }}_{{ $now.format(\"yyyyMMdd_HHmmss\") }}.png\n"},{"parameterType":"formBinaryData","name":"content","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1920,208],"id":"0fb1b7d5-3406-4bc0-bf1b-7d827e9cf339","name":"HTTP Request26","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"d54d031e-9880-4c82-9d0f-4641f82382a9","name":"data[0].attributes.FileName","value":"={{ $json.data[0].attributes.FileName }}","type":"string"},{"id":"d33a5c1b-2e6e-4064-9c5c-02633e6c2def","name":"data[0].attributes.resource_id","value":"={{ $json.data[0].attributes.resource_id }}","type":"string"},{"id":"beecdc7a-2f15-4dc1-8bfa-c61c46e3a89d","name":"data[0].attributes.Permalink","value":"={{ $json.data[0].attributes.Permalink }}","type":"string"},{"id":"9085c6b9-2276-40c7-8bfa-bb478c1e19f8","name":"output.type","value":"={{ $('AI Agent17').item.json.output.type }}","type":"string"},{"id":"11324404-ef77-4b24-889a-818b34595ae8","name":"output.subtype","value":"={{ $('AI Agent17').item.json.output.subtype }}","type":"string"},{"id":"78251b78-ed81-4c46-8221-039e00b37e39","name":"output.platform","value":"={{ $('AI Agent17').item.json.output.platform }}","type":"string"},{"id":"1690551f-01b6-4e02-9065-03d86333a6be","name":"output.caption","value":"={{ $('AI Agent17').item.json.output.caption }}","type":"string"},{"id":"8910c59d-1da0-4de9-8d43-13faf9b9192b","name":"idea","value":"={{ $('Loop Over Items').item.json.idea }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,208],"id":"a62a0ba2-07f7-4e15-8086-0b377903b72e","name":"Edit Fields37"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,224],"id":"990e1f31-980b-49bc-aed1-19f0db8b7a99","name":"Google Gemini Chat Model25"},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"Infographic\",\n  \"subtype\": \"Educational\",\n  \"platform\": \"Instagram\",\n  \"media_type\": \"image\",\n  \"prompt\": \"STYLE: Clean modern digital illustration, stylized 3D render with a matte finish. No photorealism. SUBJECT: A stylized comparison graphic floating in the center. On the left, a sleek, geometric icon of a coffee cup with a lightning bolt (representing caffeine) rendered in warm oranges. On the right, a smooth, rounded icon of a green tea leaf and a calm wave (representing L-theanine) rendered in cool greens. A subtle, clean arrow graphic points between them. COMPOSITION: These elements are tightly grouped in the exact canvas center, surrounded by vast, clean negative space. The top 30% and bottom 30% of the canvas are pure, empty background. BACKGROUND: A continuous, smooth, soft off-white digital background with a very subtle radial gradient. LIGHTING: Soft, even, diffused digital studio lighting creating gentle, clean shadows.\",\n  \"caption\": \"Caffeine vs. Clean Energy ⚡️🍵\\n\\nWe all love the coffee kick, but it often comes with jitters and a crash. The combination of caffeine and L-theanine found in green tea provides a smoother, more sustained focus without the edge.\\n\\nSometimes smarter energy is better than more energy.\\n\\n#FocusTips #ProductivityHacks #GreenTea #MatchaBenefits #HealthyEnergy #NoCrash #WorkSmarter #BrainFuel #WellnessJourney #CleanLiving #Biohacking\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,224],"id":"93a21f7b-f4ec-46d4-9685-3c7da86ced5f","name":"Structured Output Parser5"},{"parameters":{"jsCode":"// Safely extract main objects\nconst item = $json || {};\nconst out = item.output || {};\nconst fileAttr = item.data?.[0]?.attributes || {};\n\n// Build one row for Zoho Sheets\nconst row = {\n  Type: out.type || \"\",\n  Subtype: out.subtype || \"\",\n  Platform: out.platform || \"\",\n  Caption: out.caption || \"\",\n  Idea: item.idea || \"\",\n  FileName: fileAttr.FileName || \"\",\n  Resource_ID: fileAttr.resource_id || \"\",\n  Permalink: fileAttr.Permalink || \"\"\n};\n\n// Zoho expects an array of records\nconst rows = [row];\n\n// Convert to JSON string\nconst jsonString = JSON.stringify(rows);\n\n// URL encode for Zoho API\nconst encoded = encodeURIComponent(jsonString);\n\n// Return final payload\nreturn {\n  json: {\n    json_data: encoded\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,208],"id":"55e56d7d-69e8-41ae-9355-326d2108a91f","name":"Code in JavaScript19"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=image_post_approval&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2816,208],"id":"282a032b-0f4e-4838-8a8e-f8f40913b530","name":"data into sheets17"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3040,272],"id":"69907e34-fa1a-47a6-bb83-576d21005251","name":"Wait31","webhookId":"1969989f-b23d-4948-bb74-7a62566abf3b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2144,208],"id":"0288cbb5-26ff-436c-97d4-0e52278a5f24","name":"Wait32","webhookId":"e24973a8-6403-4fff-8591-b303ba872e37"},{"parameters":{"assignments":{"assignments":[{"id":"00def7dc-4d1d-4337-8c0f-b4fe2ac23533","name":"content_bucket","value":"={{ $('Loop Over Items1').item.json.content_bucket }}","type":"string"},{"id":"3bbe7d6f-4c61-468c-9f8d-bec6031754d0","name":"output.subtype","value":"={{ $('Loop Over Items1').item.json.type }}-{{ $json.output.subtype }}","type":"string"},{"id":"5c4b3d9c-0af4-4912-a8eb-dea3f78f8123","name":"output.platform","value":"={{ $json.output.platform }}","type":"string"},{"id":"05d31b18-6005-4cb4-89f8-8dddd94a389c","name":"media_type","value":"={{ $('Loop Over Items1').item.json.media_type }}","type":"string"},{"id":"cde72c0c-17b8-45ee-9941-62c7a6ed5bb1","name":"output.title","value":"={{ $json.output.title }}","type":"string"},{"id":"e33ea34d-2220-4396-a35e-1b616006470d","name":"output.post_body","value":"={{ $json.output.post_body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,736],"id":"86cce629-1711-41ae-8487-0ad5d35c223b","name":"Edit Fields39"},{"parameters":{"promptType":"define","text":"=You will receive structured input from n8n.\nInput Variables:\n- Idea: {{ $json.idea }}\n- Content Type: {{ $json.contentType }} \n- Subtype: {{ $json.subtype }} \n- Platform: {{ $json.platform }}\n- Target Audience: {{ $json.target_audience }}\n- Tone/Mood: {{ $json.content_bucket }} (optional context)\n\n### YOUR MISSION:\nWrite the final text content based on the variables above.\n\n**Step 1: Analyze the Context**\n- Who is reading this? (Target Audience)\n- Where are they reading it? (Platform)\n- What is the specific format? (Subtype)\n\n**Step 2: Draft the Content**\n- **Headline/Title:** Create a hook that stops the scroll or gets the click.\n- **Body:** Write the full content. Use formatting (bullet points, bold text) suitable for the platform.\n- **Hashtags:** If social media, add 5-10 relevant tags at the end.\n\n**Step 3: Humanize**\n- Remove any \"corporate fluff.\"\n- Ensure the tone fits the specific Subtype (e.g., if \"Story,\" be narrative; if \"Listicle,\" be snappy).\n\n### FINAL OUTPUT JSON (Return ONLY this):\n{\n  \"content_type\": \"{{ $json.contentType }}\",\n  \"subtype\": \"{{ $json.subtype }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"title\": \"WRITE THE CATCHY HEADLINE/SUBJECT HERE\",\n  \"post_body\": \"WRITE THE FULL FORMATTED TEXT CONTENT HERE\"\n}","hasOutputParser":true,"options":{"systemMessage":"=You are an expert Lead Copywriter and Content Strategist.\nYour goal is to write high-converting, deeply human text content that matches specific platforms and audiences.\n\n### 🚫 THE \"ANTI-ROBOT\" STYLE GUIDE (STRICT RULES):\n1.  **Banished Vocabulary:** NEVER use these words: *delve, unveil, realm, tapestry, symphony, game-changer, paramount, landscape, foster, leverage, utilize, meticulous, dynamic.*\n2.  **The \"Bar Test\":** Write as if you are explaining the idea to a friend at a bar. If you wouldn't say it out loud, don't write it.\n3.  **Sentence Variance:** Mix short, punchy sentences with longer, flowing ones. Avoid repetitive sentence structures.\n4.  **Active Voice:** Use \"You need this\" instead of \"This is needed by you.\"\n\n### 🧠 PLATFORM INTELLIGENCE:\n- **LinkedIn:** Professional but personal. Use line breaks for readability. Focus on insights and career value.\n- **Twitter/X:** Fast, punchy, no fluff. If \"Thread\" is requested, number the posts (1/5).\n- **Facebook:** Community-focused, conversational, slightly emotional or opinionated.\n- **Instagram (Caption):** Visual, aesthetic, mood-based. Use spacing and relevant emojis.\n- **Blog/Article:** SEO-friendly, structured (H1, H2), informative, and authoritative.\n\n### OUTPUT FORMAT:\n- Return ONLY valid JSON.\n- The JSON must contain \"title\" (headline/subject line) and \"post_body\" (the main content)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,736],"id":"11f06b0f-79de-4e71-9308-9df4f4a4d0d4","name":"AI Agent18"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,960],"id":"4d326833-986f-4ac7-8eee-ce34dd291f1c","name":"Google Gemini Chat Model26"},{"parameters":{"jsonSchemaExample":"{\n  \"content_type\": \"Social Post\",\n  \"subtype\": \"Story\",\n  \"platform\": \"LinkedIn\",\n  \"title\": \"It's not about the location. It's about the clock. ⏰\",\n  \"post_body\": \"Three years ago, I thought \\\"Remote Work\\\" just meant moving my laptop from the office cubicle to my kitchen table.\\n\\nI was wrong.\\n\\nI was still logging on at 9 AM. I was still glued to Slack until 5 PM. I was still stressed about \\\"looking busy\\\" even though no one could see me.\\n\\nReal freedom didn't hit me until I stopped managing my *location* and started managing my *energy*.\\n\\nYesterday, I went to the gym at 10 AM. I wrote my best code at 8 PM. I took a nap at 2 PM because my brain hit a wall.\\n\\nThe result? I got more done in 4 hours of focused, flexible work than I ever did in 8 hours of rigid office time.\\n\\nRemote work isn't just a change of address. It's a shift in mindset from \\\"Hours Worked\\\" to \\\"Value Created.\\\"\\n\\nIf you're a leader, stop tracking keystrokes. Start tracking output.\\n\\nWho else has found their best rhythm outside the 9-5? 👇\\n\\n#RemoteWork #FutureOfWork #Productivity #MentalHealth #Leadership\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,960],"id":"3d84589e-df35-41fe-b7d3-3db583ecbc29","name":"Structured Output Parser18"},{"parameters":{"jsCode":"// Each n8n item already represents one object from the array\nconst item = $json;\n\n// Safely extract output\nconst out = item.output ?? {};\n\n// Build one row for Zoho Sheets\nconst row = {\n  Content_Bucket: item.content_bucket ?? \"\",\n  Subtype: out.subtype ?? \"\",\n  Platform: out.platform ?? \"\",\n  Media_Type: item.media_type ?? \"\",\n  Title: out.title ?? \"\",\n  Post_Body: out.post_body ?? \"\"\n};\n\n// Zoho expects an array of records\nconst rows = [row];\n\n// Convert rows to JSON string\nconst jsonString = JSON.stringify(rows);\n\n// URL encode for Zoho API\nconst encoded = encodeURIComponent(jsonString);\n\n// Return final payload\nreturn {\n  json: {\n    json_data: encoded\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,736],"id":"46d82875-17ab-4770-9dd3-ecfe0c907600","name":"Code in JavaScript20"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=text_post_approval&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,736],"id":"e4564a3b-5273-4dc4-a99a-9f3f6480fb64","name":"data into sheets18"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1024,864],"id":"dc07d80e-7201-460b-a99a-ac8280531ff5","name":"Wait33","webhookId":"376fb3f7-49ca-4c18-9c95-cf85f17979dc"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"image\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,272],"id":"6c9be1ae-b4f9-495f-945d-ff94ac0eae84","name":"Code in JavaScript"},{"parameters":{"jsCode":"return items.filter(item => item.json.media_type === \"text\");"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,864],"id":"cc0f3d5c-9f64-401e-a4dc-de41abe64dc1","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3936,944],"id":"7a472b0c-6675-4192-8c89-31df70ccd190","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// 1) Approved ideas from the node: \"taking only approved ideas\"\nconst ideas = $items(\"taking only approved ideas\").map(i => i.json);\n\n// 2) Configs from current input (flattened config from Code in JavaScript18)\nconst configs = items.map(i => i.json);\n\nif (!ideas.length) {\n  throw new Error(\"No approved ideas found. Check 'taking only approved ideas' output.\");\n}\n\nif (!configs.length) {\n  throw new Error(\"No configs found. Check 'Code in JavaScript18' output.\");\n}\n\nconst out = [];\n\nfor (const idea of ideas) {\n  for (const cfg of configs) {\n    out.push({\n      json: {\n        ...idea,\n        ...cfg\n      }\n    });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,640],"id":"2b7525c8-ce95-4f94-b1bf-81e426f77be2","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.records.fetch&worksheet_name=content_bucket&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3712,944],"id":"5b09e1ed-e0e2-4fd5-bc09-d7d52ed9ad2c","name":"Getting Content Bucket"},{"parameters":{"assignments":{"assignments":[{"name":"categories","value":"[\"Direct Information / Answer\",\"Mindsets\",\"Truths or Facts\",\"Things to Follow\",\"Tips\",\"Mistakes\",\"Myths\",\"Secrets\",\"Do’s and Don’ts\",\"Step by Step Guide\",\"Reports and Statistics\",\"Questions to Ask Before\",\"Parameters to Consider\"]","type":"array"}]},"options":{}},"id":"408c1bc6-325d-4cf0-94bc-5f9c2779385d","name":"All Catagory we have","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3488,944]},{"parameters":{"jsCode":"const categories = $json.categories;\nreturn categories.map(category => ({ json: { category } }));"},"id":"cfc79ff4-d74e-433f-ac0c-c7b9de131a25","name":"Make Category into List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3264,944]},{"parameters":{"options":{}},"id":"95b21112-808a-4368-92fe-d08dbd3a7044","name":"Loop Over The Category","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2816,944]},{"parameters":{"promptType":"define","text":"=Topic: {{ $('Getting Content Bucket').item.json.records[0].Topic }}\nTarget Audience: {{ $('Getting Content Bucket').item.json.records[0]['Target Audience'] }}\nContent Bucket: {{ $('Getting Content Bucket').item.json.records[0]['Content Bucket'] }}\nCategory: {{ $json.category }}\n\nGenerate 10 creative, platform-ready ideas under this category for Reels, Shorts, or carousels.\n\nReturn only JSON, no markdown, strictly in this format:\n{\n  \"category\": \"{{ $json.category }}\",\n  \"ideas\": [\"idea1\", \"idea2\", \"idea3\", ...],\n  \"topic\": \"{{ $('Getting Content Bucket').item.json.records[0].Topic }}\",\n  \"content_bucket\": \"{{ $('Getting Content Bucket').item.json.records[0]['Content Bucket'] }}\",\n  \"target_audience\": \"{{ $('Getting Content Bucket').item.json.records[0]['Target Audience'] }}\"\n}","hasOutputParser":true,"options":{"systemMessage":"You are a social media content strategist. Return valid JSON only. No markdown, no commentary. Output must strictly match schema keys."}},"id":"4b5ab2fa-8d01-42d1-9bfc-a81dce087733","name":"Agent to Generate Ideas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2336,944],"retryOnFail":true},{"parameters":{"options":{}},"id":"240f24aa-2b4f-4689-a36a-fc40fe691468","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2384,1168]},{"parameters":{},"id":"93b9dd83-1902-43ab-9b2a-1815b4b0c1f6","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-2256,1168]},{"parameters":{"jsCode":"let text = $json.output;\nif (typeof text === 'string') {\n  text = text.replace(/```json|```/g, '').trim();\n  try {\n    return { json: { output: JSON.parse(text) } };\n  } catch (e) {\n    return { json: { output: {} } };\n  }\n}\nreturn { json: { output: text } };"},"id":"0831d159-1a1b-43f3-b6f3-32b8d149d94d","name":"Converting the Ideas in to Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,944]},{"parameters":{"promptType":"define","text":"=Topic: {{ $json.output.topic }}\nTarget Audience: {{ $json.output.target_audience }}\nContent Bucket: {{ $json.output.content_bucket }}\nCategory: {{ $json.output.category }}\n\nIdeas: {{ $json.output.ideas }}\n\nSelect only the top 3 ideas with highest engagement potential.\nReturn only JSON:\n{\n  \"category\": \"{{ $json.output.category }}\",\n  \"top_3_ideas\": [\"idea1\", \"idea2\", \"idea3\"],\n  \"topic\": \"{{ $json.output.topic }}\",\n  \"content_bucket\": \"{{ $json.output.content_bucket }}\",\n  \"target_audience\": \"{{ $json.output.target_audience }}\"\n}","hasOutputParser":true,"options":{"systemMessage":"You are a social media strategist. Rank and return the top 3 ideas by engagement. No explanations. Output only valid JSON."}},"id":"1d7e756b-98e6-447a-b190-37c519c45ac6","name":"Screen Top Ideas (3/10)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1696,944]},{"parameters":{"jsCode":"// Prepare 3 rows, one for each idea\nconst rows = ($json.output.ideas || []).map(idea => ({\n  Category: $json.output.category || \"\",\n  Content_Bucket: $json.output.content_bucket || \"\",\n  Target_Audience: $json.output.target_audience || \"\",\n  Idea: idea || \"\"\n}));\n\n// Step 1: Stringify\nconst jsonString = JSON.stringify(rows);\n\n// Step 2: URL encode for Zoho Sheets\nconst encoded = encodeURIComponent(jsonString);\n\nreturn {\n  json: {\n    json_data: encoded\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,944],"id":"8c22124e-ab0c-41be-8bb9-ace1189e1ca4","name":"Top3 Into An Arrray"},{"parameters":{"method":"POST","url":"https://sheet.zoho.in/api/v2/qk11d2c514472dc5c4153a3cb061bf1a41ca3","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"form-urlencoded","specifyBody":"string","body":"=method=worksheet.jsondata.insert&worksheet_name=top_3_ideas&row=2&json_data={{ $json.json_data }}&header_row=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,944],"id":"b793deb2-e4a0-4bfb-b3d6-1f811e439fd4","name":"Adding Top 3 Ideas into Sheets"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-896,1072],"id":"4ef0784f-cb08-4ee6-9323-ce85c2db291e","name":"Wait For 10sec","webhookId":"b6434cf2-fe33-48b7-baa3-10b24e5ac118"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b18fba8c-de51-4e60-9462-a20da09ff2ef","leftValue":"={{ $json.output.prompt }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[352,128],"id":"6f0fdd24-2221-4fdf-9bd8-d10c71c1fba5","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,272],"id":"576dc9ea-58ec-4209-8d07-6f9b6d922493","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d9fbc6b5-da78-44ed-b6d5-c611a7211d5b","leftValue":"={{ $json.Filesize }}","rightValue":"0","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1248,128],"id":"4c01d4f0-27ef-49e7-8aa8-310c78f76cb9","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,864],"id":"097caf28-a1a6-47bc-bcf9-850161c227ed","name":"Loop Over Items1"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-448,272],"id":"43e3dbab-40be-469a-a7d0-5084452257d6","name":"Limit"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-448,864],"id":"a84946a1-617e-48ac-88e1-edc10061d725","name":"Limit1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3040,944],"id":"db9d81ca-d75f-49e1-a306-f42cba25585d","name":"Limit2"},{"parameters":{"content":"## START + INPUT DATA\nWorkflow starts manually.\n\nFetches Topic + Target Audience + Content Bucket from Zoho Sheets.\n\nCreates a list of Categories (content angles) to generate ideas for.","height":368,"width":1344},"type":"n8n-nodes-base.stickyNote","position":[-3984,800],"typeVersion":1,"id":"026659d8-6b82-4d1b-a645-8aba4ec27e3e","name":"Sticky Note"},{"parameters":{"content":"## IDEA GENERATION (10 IDEAS) \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nFor each category, Gemini generates 10 creative ideas.\n\nOutput is forced into valid JSON using Output Parser.\n\nIf Gemini returns text instead of JSON, we safely convert it into JSON.","height":656,"width":592},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2576,864],"id":"85af70a8-c758-4211-8ca5-ad8da8091593","name":"Sticky Note1"},{"parameters":{"content":"## FILTER TOP 3 IDEAS\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nGemini ranks the 10 ideas and selects the top 3 best ideas.\n\nThe selected ideas are saved into Zoho Sheet (top_3_ideas).\n\nWait is added to avoid API rate issues.","height":640,"width":976},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1920,864],"id":"1c5f346a-3fe5-44c7-a1ea-c976de0e1394","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2544,640],"id":"dbe13c0a-465b-420c-8f3f-8987a5bb3a77","name":"Wait","webhookId":"96988160-c102-4747-83ba-c6a8e408a2ea"}],"connections":{"Parsing 10 ideas":{"ai_outputParser":[[{"node":"Agent to Generate Ideas","type":"ai_outputParser","index":0}]]},"parsing best 3 ideas":{"ai_outputParser":[[{"node":"Screen Top Ideas (3/10)","type":"ai_outputParser","index":0}]]},"getting all ideas from the sheets":{"main":[[{"node":"taking only approved ideas","type":"main","index":0}]]},"Loop Over Items28":{"main":[[],[{"node":"Edit Fields35","type":"main","index":0}]]},"taking only approved ideas":{"main":[[{"node":"Loop Over Items28","type":"main","index":0}]]},"Edit Fields35":{"main":[[{"node":"Code in JavaScript18","type":"main","index":0}]]},"Code in JavaScript18":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"AI Agent17":{"main":[[{"node":"If","type":"main","index":0}]]},"Generate an image10":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Image5":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Edit Image5","type":"main","index":0}]]},"Edit Image33":{"main":[[{"node":"Edit Image34","type":"main","index":0}]]},"Edit Image34":{"main":[[{"node":"HTTP Request26","type":"main","index":0}]]},"HTTP Request26":{"main":[[{"node":"Wait32","type":"main","index":0}]]},"Edit Fields37":{"main":[[{"node":"Code in JavaScript19","type":"main","index":0}]]},"Google Gemini Chat Model25":{"ai_languageModel":[[{"node":"AI Agent17","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"AI Agent17","type":"ai_outputParser","index":0}]]},"Code in JavaScript19":{"main":[[{"node":"data into sheets17","type":"main","index":0}]]},"data into sheets17":{"main":[[{"node":"Wait31","type":"main","index":0}]]},"Wait31":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait32":{"main":[[{"node":"Edit Fields37","type":"main","index":0}]]},"Edit Fields39":{"main":[[{"node":"Code in JavaScript20","type":"main","index":0}]]},"AI Agent18":{"main":[[{"node":"Edit Fields39","type":"main","index":0}]]},"Google Gemini Chat Model26":{"ai_languageModel":[[{"node":"AI Agent18","type":"ai_languageModel","index":0}]]},"Structured Output Parser18":{"ai_outputParser":[[{"node":"AI Agent18","type":"ai_outputParser","index":0}]]},"Code in JavaScript20":{"main":[[{"node":"data into sheets18","type":"main","index":0}]]},"data into sheets18":{"main":[[{"node":"Wait33","type":"main","index":0}]]},"Wait33":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Getting Content Bucket","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Getting Content Bucket":{"main":[[{"node":"All Catagory we have","type":"main","index":0}]]},"All Catagory we have":{"main":[[{"node":"Make Category into List","type":"main","index":0}]]},"Make Category into List":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Loop Over The Category":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Agent to Generate Ideas","type":"main","index":0}]]},"Agent to Generate Ideas":{"main":[[{"node":"Converting the Ideas in to Array","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agent to Generate Ideas","type":"ai_languageModel","index":0},{"node":"Screen Top Ideas (3/10)","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent to Generate Ideas","type":"ai_tool","index":0}]]},"Converting the Ideas in to Array":{"main":[[{"node":"Screen Top Ideas (3/10)","type":"main","index":0}]]},"Screen Top Ideas (3/10)":{"main":[[{"node":"Top3 Into An Arrray","type":"main","index":0}]]},"Top3 Into An Arrray":{"main":[[{"node":"Adding Top 3 Ideas into Sheets","type":"main","index":0}]]},"Adding Top 3 Ideas into Sheets":{"main":[[{"node":"Wait For 10sec","type":"main","index":0}]]},"Wait For 10sec":{"main":[[{"node":"Loop Over The Category","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Generate an image10","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent17","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Edit Image33","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"AI Agent18","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Loop Over The Category","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23e55658-16c9-4196-9b33-7f3214552978","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T16:55:53.207Z","createdAt":"2026-03-02T16:55:53.207Z","role":"workflow:owner","workflowId":"5jqNpXANfYRBBI5B","projectId":"bj48yuVkPnuVkndV"}],"activeVersion":null,"tags":[]}