my-workflow-2-9WbZOOTDIUQvECe6.json
{"updatedAt":"2026-04-29T14:45:12.773Z","createdAt":"2026-03-20T13:55:04.787Z","id":"9WbZOOTDIUQvECe6","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"93b1eeb6-afaf-4f58-be6e-b4fd810fc6dc","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"scenario\": \"Studio owners currently manage their business manually using Google Sheets, physical diaries, phone calls, and scattered WhatsApp messages. This chaotic process causes them to miss potential leads and fail follow-ups, resulting in lost revenue. They struggle to convert leads into real clients because data is everywhere. The goal is to solve this with Plexis: a centralized Lead Dashboard where they can onboard leads, share forms, automate follow-ups, and schedule meetings from one screen using AI.\",\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"f4b58edb-15d2-460b-86ad-8705bed37aba","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Scenario:\n{{ $json.scenario }}\n\nCompany context:\nPLEXIS is a unified, AI-powered platform for studios and photographers. It replaces manual tools by centralizing lead management, follow-ups, scheduling, and communication into one clean dashboard, helping businesses avoid missed leads and grow confidently.\n\nTASK:\nGenerate EXACTLY 3 Photoshop-style image prompts for an Instagram carousel.\nAll slides must:\n- Use the SAME character\n- Use the SAME layout\n- Respect top and bottom safe areas\n- Follow brand color rules strictly\n\nIMAGE PROMPT DETAILS:\n\nSlide 1 – Current Usage  \nCreate a Photoshop-style edited illustration (1080x1080).\nShow the SAME studio owner character sitting at a desk.\nVisual elements:\n- Floating spreadsheet-style UI\n- Chat message icons\n- Notes and calendar cards\nEverything looks scattered but clean.\nCharacter expression: focused but overloaded.\nBackground: smooth, minimal, controlled.\nNo text clutter.\nCentral composition only.\n\nSlide 2 – Problems  \nCreate a Photoshop-style conceptual illustration (1080x1080).\nShow the SAME character in the SAME position.\nVisual elements:\n- Broken or disconnected UI cards\n- Missed lead indicators\n- Delayed follow-up symbols\nCharacter expression: stressed and frustrated.\nBackground remains clean but visually heavier.\nNO extra text.\nPain must be obvious at first glance.\n\nSlide 3 – Advantages of Using PLEXIS  \nCreate a Photoshop-style premium product illustration (1080x1080).\nShow the SAME character in the SAME position.\nVisual elements:\n- ONE clean, unified PLEXIS dashboard\n- Organized UI blocks\n- Clear visual hierarchy\nCharacter expression: calm, confident, relieved.\nBackground: smooth, minimal, premium.\nThis slide must feel lighter and more open than Slide 2.\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON in this exact structure:\n\n{\n  \"image_prompts\": [\n    { \"slide\": 1, \"prompt\": \"...\" },\n    { \"slide\": 2, \"prompt\": \"...\" },\n    { \"slide\": 3, \"prompt\": \"...\" }\n  ]\n}","hasOutputParser":true,"options":{"systemMessage":"You are a high-precision visual prompt generator for the company PLEXIS.\n\nTHIS IS A HARD-CONSTRAINT TASK. YOU MUST FOLLOW ALL RULES EXACTLY.\n\nABSOLUTE VISUAL CONSTRAINTS:\n- Images must be Photoshop-style edited marketing visuals.\n- DO NOT generate photorealistic photography.\n- DO NOT generate raw camera, DSLR, or natural photo styles.\n- DO NOT add unnecessary visual noise or complex backgrounds.\n\nDIMENSION & SAFE AREA (CRITICAL):\n- Image size MUST be exactly 1080 × 1080 pixels.\n- Maintain a SAFE AREA:\n  - Top margin: 120px minimum (empty)\n  - Bottom margin: 120px minimum (empty)\n- NO text, UI, icons, or elements are allowed inside the top or bottom safe area.\n- All content must stay in the central zone only.\n- Layout must be centered, symmetrical, and calm.\n\nTEXT & TYPOGRAPHY RULES (VERY IMPORTANT):\n- DO NOT include long paragraphs.\n- DO NOT include small unreadable text.\n- DO NOT include decorative filler text.\n- If text is needed visually, it must be:\n  - Minimal\n  - Large\n  - Clean\n  - Easy to read\n- DO NOT mention brand color names as visible text in the image.\n\nBRAND COLOR RULES (ABSOLUTE):\n- Use ONLY these colors visually:\n  - #080527 (Deep Midnight Purple)\n  - #5D0563 (Electric Purple)\n  - #9467A7 (Neon Violet)\n  - #261644 (Dark Indigo)\n  - #EEDFF2 (Soft Lavender)\n- DO NOT introduce gradients or shades outside this palette.\n- DO NOT describe color names as visible labels.\n- Backgrounds must be smooth, controlled, and consistent.\n\nCHARACTER CONSISTENCY (MANDATORY):\n- Use ONE SAME CHARACTER across all 3 slides.\n- Character must remain:\n  - Same gender\n  - Same age range\n  - Same hairstyle\n  - Same clothing\n- Only facial expression and posture may change.\n- Character must always be centered.\n\nSTORY STRUCTURE (LOCKED):\nGenerate EXACTLY 3 prompts in this order:\n\n1. Current Usage  \n   Show inefficient, manual work using scattered tools.\n\n2. Problems  \n   Clearly communicate pain, stress, confusion, missed leads.\n\n3. Advantages of PLEXIS  \n   Show calm, clarity, automation, growth using ONE clean dashboard.\n\nENGAGEMENT RULES:\n- Visual message must be understandable in 2–3 seconds.\n- Avoid clutter.\n- Strong contrast between problem and solution.\n- Premium SaaS marketing look.\n\nOUTPUT RULES (NON-NEGOTIABLE):\n- Output ONLY valid JSON.\n- No explanations.\n- No markdown.\n- No comments.\n- Follow the exact schema provided."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[416,0],"id":"7a2e5168-46cd-4354-8a00-6050d14c8288","name":"AI Agent","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,208],"id":"99077e34-5ac1-4759-ab4a-7170fb1a30a0","name":"Google Gemini Chat Model"},{"parameters":{"jsonSchemaExample":"{\n  \"image_prompts\": [\n    {\n      \"slide\": 1,\n      \"prompt\": \"Instagram post, 1080x1080. A photography studio team working on client projects, photographer reviewing images on a laptop while a client checks photos on a tablet. Clean modern studio environment. PLEXIS brand colors only: deep midnight purple background with neon violet highlights, soft lavender text areas. Clear top and bottom spacing, balanced layout, professional and engaging, easy to understand.\"\n    },\n    {\n      \"slide\": 2,\n      \"prompt\": \"Instagram post, 1080x1080. A stressed photographer surrounded by multiple devices, messy files, scattered notes, and notification overload. Visual representation of confusion and manual work. Dark indigo and electric purple tones, subtle lighting, uncluttered but expressive scene. Clear top and bottom spacing, visually engaging and easy to understand.\"\n    },\n    {\n      \"slide\": 3,\n      \"prompt\": \"Instagram post, 1080x1080. Calm and confident studio owner using PLEXIS on a single dashboard, clients happy and organized. Smooth workflow visuals, automation and clarity. Deep midnight purple base with neon violet and soft lavender accents. Modern, premium look, strong spacing, clean and engaging composition.\"\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[592,208],"id":"1f288490-a1dc-4395-a44c-41427c03f224","name":"Structured Output Parser"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-3-pro-image-preview","mode":"list","cachedResultName":"models/gemini-3-pro-image-preview (Nano Banana Pro)"},"prompt":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[976,0],"id":"78f13ad8-28be-4b70-af0f-2362662288de","name":"Generate an image"},{"parameters":{"jsCode":"return items[0].json.output.image_prompts.map(p => ({\n  prompt: p.prompt\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,0],"id":"25b3b97a-abac-431a-b099-dd516a519fea","name":"Code in JavaScript"},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1184,0],"id":"06ba8179-637c-46b6-b22b-de5558dc0df2","name":"Edit Image"},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=1juf5iY9Kb2nTeSTCi-GTqJb0EGcP9uLM","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"templete"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1376,0],"id":"fb491308-48f7-4f0c-91a2-211851d1bac7","name":"HTTP Request"},{"parameters":{"operation":"resize","dataPropertyName":"templete","width":"={{ $('Edit Image').item.json.size.width }}","height":"={{ $('Edit Image').item.json.size.height }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1584,0],"id":"cb0d15f0-e373-4868-a7f8-4e598355a0f7","name":"Edit Image1"},{"parameters":{"operation":"composite","dataPropertyNameComposite":"templete","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1792,0],"id":"b4724e5c-9209-405c-94ff-8d50f3e48bd5","name":"Edit Image2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Edit Image2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28848d17-6540-4abd-b803-c7f9ef55a7e2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T13:55:04.793Z","createdAt":"2026-03-20T13:55:04.793Z","role":"workflow:owner","workflowId":"9WbZOOTDIUQvECe6","projectId":"bj48yuVkPnuVkndV"}],"activeVersion":null,"tags":[]}